:where(.logo) {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  aspect-ratio: 4 / 3;

  :where(.logo__blob) {
    mix-blend-mode: var(--blend-mode);
  }

  :where(.logo__nz) {
    fill: var(--magenta-9);
  }

  :where(.logo__if) {
    fill: var(--text-inverse);
  }
}
