.table {
  grid-column: main;
  margin-inline: calc(var(--table-cell-padding) * -1);

  :global(.rt-ScrollAreaRoot),
  :global(.rt-ScrollAreaViewport) {
    overflow: unset !important;
  }

  thead {
    th {
      --inset-padding-left: var(--table-cell-padding);
      --inset-padding-right: var(--table-cell-padding);

      position: sticky;
      top: 0;
      background: var(--color-background);

      button {
        justify-content: space-between;
        width: calc(100% + var(--inset-padding-left) + var(--inset-padding-right));
        border-radius: var(--radius-small);
      }
    }
  }

  tbody {
    th {
      font-weight: var(--font-weight-medium);

      small {
        display: block;
        color: var(--gray-11);
        font-weight: var(--font-weight-regular);
        font-size: 100%;

      }
    }

    tr:hover {
      background: var(--gray-a4);
      cursor: pointer;
    }
  }
}
