.workshops {
  display: flex;
  flex-direction: column;
  grid-column: main;
  gap: var(--space-4);
  margin-block: var(--space-4);

  .more {
    margin: 0;
  }

  .cardIcon {
    padding: var(--space-2);
    border-radius: 50%;
    background: var(--accent-a3);
    color: var(--accent-9);
  }

  h3 {
    font-weight: var(--font-weight-medium);
  }
}
