.root {
  --card-padding: var(--space-2);

  min-height: var(--text-field-height);

  input {
    width: auto;
  }

  &:has(.card) {
    box-shadow: none;

    > [data-side] {
      display: none;
    }
  }
}

.card {
  color: var(--accent-11);

  &::before {
    background-color: var(--accent-3);
  }

  &::after {
    box-shadow: inset 0 0 0 1px var(--accent-7);
  }
}

.activityIconButton {
  background: transparent;
}
