.teaching {
  &__workshops,
  &__session {
    padding: 0 0 var(--huge);
  }

  &__workshops {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: var(--large);
  }

  .programme__activity {
    color: inherit;
    text-decoration: none;

    dl {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: var(--small) var(--medium);
      margin: var(--medium) 0;
      padding: 0;
      color: var(--text-subtle);
    }

    dt, dd {
      margin: 0;
      padding: 0;
    }
  }

  &__participants {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: var(--small) var(--large);
    margin: 0 0 var(--huge);
    padding: 0;
    list-style: none;
    font-size: var(--font-size-legible);
    line-height: var(--line-height-medium);

    li {
      margin: 0;
      padding: 0;

      small {
        color: var(--text-subtle);
      }
    }
  }
}

.session-messages {
  margin: var(--large) 0;
  border-bottom: var(--border-width-standard) solid var(--border-subtle);
}

.session-message {
  border-top: var(--border-width-standard) solid var(--border-subtle);

  summary {
    display: grid;
    grid-template: "icon sender" auto "icon date" auto / auto 1fr;
    gap: 0 var(--small);
    padding: var(--small);

    .icon {
      grid-area: icon;
      align-self: center;
      color: var(--text-subtle);
      transition: rotate var(--timing-standard) var(--ease-standard);
    }
  }

  &[open] summary .icon {
    rotate: 90deg;
  }

  &__sender {
    grid-area: sender;
  }

  &__date {
    grid-area: date;
    color: var(--text-subtle);
  }

  &__content {
    max-width: 45em;
    padding: 0 calc(var(--small) * 2 + var(--icon-size)) var(--large);
  }
}
