@import url('../styles/colors.css');
@import url('../styles/sizes.css');
@import url('../styles/transitions.css');
@import url('../styles/typography.css');
@import url('../styles/shadows.css');

:root {
  /* Stacking */
  --z-index-overlay: 10;
  --z-index-overlay-toggle: 11;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

:where(body) {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
}

:where([data-theme="light"]) {
  color-scheme: light;
}

:where([data-theme="dark"]) {
  color-scheme: dark;
}

:where(main > * > section) {
  padding-inline: var(--horizontal-padding);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
}
