.casting {
  &__shows {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: var(--large);
    padding: 0 0 var(--huge);
  }

  .programme__activity {
    color: inherit;
    text-decoration: none;

    dl {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: var(--small) var(--medium);
      margin: var(--medium) 0;
      padding: 0;
      color: var(--text-subtle);
    }

    dt, dd {
      margin: 0;
      padding: 0;
    }
  }

  &__session {
    padding: 0 0 var(--huge);
  }

  .participants {
    display: flex;
    flex-wrap: wrap;
    gap: var(--small);
  }

  &__workshop-participants {
    padding: 0;

    summary {
      display: flex;
      gap: var(--small);
      padding: var(--medium) 0;

      .icon {
        color: var(--text-subtle);
      }
    }

    h3 {
      margin: 0;

      small {
        color: var(--text-subtle);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-medium);
        opacity: 0;
      }
    }

    &[open] {
      padding: 0 0 var(--large);

      summary {
        .icon {
          transform: rotate(90deg);
        }

        h3 small {
          opacity: 1;
        }
      }
    }
  }
}
