.layout {
  padding: 0;
}

.container {
  padding: var(--space-4) var(--space-4) 0;

  :global(.rt-ContainerInner) {
    container-name: donate;
    container-type: inline-size;
  }

  @media (max-aspect-ratio: 1 / 2) {
    min-height: 100vh;
  }
}

.pages {
  min-height: calc(100svh - 17rem);
  margin: var(--space-4) 0;
}

.page {
  p:not(:last-child) {
    margin: 0 0 0.75em;
  }
}

.form {
  display: grid;
  grid-template: "intro" auto "amounts" auto "details" auto "separator" auto "button" auto / 1fr;
  gap: var(--space-4);
  justify-items: center;
  width: 100%;

  @media (--md) {
    grid-template: "intro intro intro ." auto "details separator amounts amounts" auto "button . . ." auto / 22.5rem calc((var(--space-6) - var(--space-3)) * 2 + 1px) 16rem 16rem;
    gap: var(--space-6) var(--space-3);
    justify-items: start;
  }
}

.logo {
  width: 10rem;

  @media (--sm) {
    width: 12rem;
    margin-left: -1.75rem;
  }
}

.intro {
  grid-area: intro;
  width: 100%;
  max-width: 40rem;

  h1, p {
    margin-bottom: var(--space-3);
  }
}

.details {
  grid-area: details;
  width: 100%;
  max-width: 30rem;
}

.labeledCheckbox {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: var(--space-3);
}

.separator {
  grid-area: separator;
  justify-self: center;
}

.amounts {
  grid-area: amounts;
  grid-template-columns: 1fr;
  grid-auto-flow: column;

  @media (--sm) {
    grid-template-columns: 1fr 1fr;
  }
}

.button {
  grid-area: button;
  width: 100%;
  max-width: 30rem;
}

.fixedAmount {
  display: grid;
  grid-template-columns: 4rem 1fr;
  gap: var(--space-3);
  align-items: center;

  :has(>:global(.money)) {
    justify-self: end;

    + * {
      color: var(--gray-11);
      text-wrap: balance;
    }
  }
}

.customAmount {
  outline: 0;

  input {
    height: auto;
    border: 0;
    box-shadow: none;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-3);

    @media (--sm) {
      font-size: var(--font-size-6);
    }
  }
}

.footer {
  --inset-padding-right: calc(50vw - 50cqw);
  --inset-padding-left: var(--inset-padding-right);

  position: sticky;
  bottom: 0;
  padding: var(--space-4) var(--inset-padding-right);
  background: var(--color-background);
  box-shadow: var(--shadow-2);

  .dot {
    width: var(--space-3);
    height: var(--space-3);
    border: 1px solid currentcolor;
    border-radius: 100%;
    color: var(--gray-11);

    &[data-filled] {
      background: currentcolor;
    }
  }
}
