.user-popup {
  display: grid;
  grid-template-rows: auto 1px auto;
  gap: var(--medium);
  padding: var(--medium);

  &:focus {
    outline: none;
  }

  &__user {
    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: var(--small);
    width: 12rem;

    .avatar {
      align-self: flex-start;
      justify-self: flex-start;
    }
  }

  &__name {
    font-size: var(--font-size-legible);
    line-height: var(--line-height-medium);
  }

  &__email {
    overflow: hidden;
    color: var(--text-subtle);
    font-size: var(--font-size-small);
    line-height: var(--line-height-medium);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__actions {
    margin: 0 calc(var(--small) * -1);
    padding: 0;
  }

  &__registration {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--small);
    justify-items: center;

    &-status {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    p {
      margin: 0;
      text-align: center;

      .skeleton {
        margin: 0 auto;
      }

      &:nth-child(2) {
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-legible);
      }
    }

    &[data-registered="false"] {
      .alert {
        display: grid;
        gap: var(--small);
        place-content: center;

        .icon {
          --icon-size: var(--huge);

          margin: 0 auto;
          color: var(--text-subtle);
        }
      }
    }
  }

  .button,
  .skeleton[data-shape="rounded"] {
    justify-self: stretch;
    width: unset;
    max-width: unset;

    &[aria-disabled] {
      opacity: var(--disabled-opacity);
      pointer-events: none;
    }
  }

  hr {
    margin: 0;
    border: 0;
    background: var(--border-subtle);
  }

  .menu {
    width: unset;
    padding: 0;
    box-shadow: none;
  }

  @media (width >= 481px) {
    grid-template-rows: 1fr;
    grid-auto-columns: 12rem 1px;
    grid-auto-flow: row;
    gap: var(--medium);

    > :not(.popover__arrow) {
      grid-row: 1;
    }
  }
}
