.confirmation-modal {
  text-align: center;

  header {
    justify-content: center;
  }

  &__buttons {
    justify-content: center;
    margin-top: var(--spacing-base);

    button {
      min-width: 8rem;
    }
  }
}
