.section {
  grid-column: main;
  margin-block: var(--spacing-large);
}

.people {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: var(--spacing-large);
  margin-block: var(--spacing-large);
}

.main {
  display: grid;
  grid-template: "portrait" auto "bio" auto "appearances" auto / 1fr;
  grid-column: main;
  gap: var(--space-4);

  @media (--md) {
    grid-template: "bio portrait" auto "appearances portrait" auto / 3fr 1fr;
    align-items: start;
  }
}

.bio {
  grid-area: bio;
}

.portrait {
  grid-area: portrait;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-2);
  }
}

.appearances {
  grid-area: appearances;

  .cards {
    display: grid;
    gap: var(--space-4);

    @media (--sm) {
      grid-template-columns: repeat(auto-fill, 16rem);
    }
  }
}
