.person-picker {
  &__input {
    .mantine-Loader-root {
      --loader-color: var(--border-element);
    }
  }

  &__option {
    .mantine-Combobox-option & {
      flex-wrap: nowrap;
    }

    .icon {
      flex: 0 0 var(--icon-medium);
      color: inherit;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
