.workshopSelection {
  grid-template-rows: 1fr;
  align-items: start;
  padding-block: 0;

  :global(.buttons) {
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding-block: var(--space-4);
  }
}

.date {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  gap: var(--space-4);
  align-items: center;
  margin-inline: calc(var(--space-4) * -1);
  padding: var(--space-3) var(--space-4);
  background: var(--background-translucent);

  /* backdrop-filter: blur(6px); */
}

.day {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  align-items: stretch;
  margin-bottom: var(--space-6);
  padding-block: 0;
}

.period {
  display: flex;
  gap: var(--space-4);
}

.periodName {
  --height: 1.5rem;

  position: relative;
  width: var(--height);
  border-radius: var(--radius-small);
  color: var(--gray-11);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-2);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  container: period;
  container-type: size;

  span {
    position: absolute;
    bottom: 0;
    left: 100%;
    display: flex;
    gap: var(--space-4);
    align-items: center;
    width: 100cqh;
    height: var(--height);
    margin: 0;
    line-height: var(--height);
    text-align: center;
    transform: rotate(-90deg);
    transform-origin: 0 100%;

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-top: 1px solid var(--gray-a6);
    }
  }

  @media (--md) {
    font-size: var(--font-size-3);
  }
}

.workshops {
  @container page (width > 512px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @container page (width > 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @container page (width > 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  display: grid;
  flex: 1;
  gap: var(--space-4);
}

.card {
  --card-size: 100%;
}

.soldOut {
  position: relative;
  z-index: 1;
  display: grid;
  grid-area: top;
  place-content: center;
  margin-right: 0;
  padding-inline: var(--card-padding);
  padding-block: var(--space-1);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--accent-a9);
  color: var(--accent-contrast);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;

  @media (--sm) {
    align-self: end;
    margin-right: var(--margin-right-override);
  }
}

.preference {
  position: relative;
  grid-area: preference;
  place-self: center center;
  font-weight: var(--font-weight-bold);

  &[data-disabled][data-filled] {
    background-color: var(--accent-a9);
    color: var(--accent-contrast);
    opacity: 1;
  }

  [data-icon="Checkbox"] {
    --icon-size: 1.25rem;

    width: var(--icon-size);
    height: var(--icon-size);

    [data-component="indeterminate"] {
      display: none;
    }

    [data-component="checked"] {
      animation: check 0.2s ease-out forwards;
      stroke-dasharray: 1;
      stroke-dashoffset: -1;
    }
  }

  @media (--sm) {
    grid-area: top;
    place-self: start end;
  }
}

@keyframes check {
  0% {
    stroke-dashoffset: -1;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.workshopDetails {
  grid-template: "header" auto "body" 1fr / 1fr;
  gap: var(--dialog-content-padding);

  .header {
    grid-area: header;
  }

  .title {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: header;
    gap: var(--space-1);
    place-self: end stretch;
    padding: var(--dialog-content-padding);
    background: var(--background-translucent);
  }

  .body {
    grid-area: body;
    max-height: 40dvh;
  }

  .scrollable {
    padding: 0 var(--dialog-content-padding);
  }

  .close {
    position: relative;
    grid-area: header;
    place-self: start end;
    color: white;
  }

  .actions {
    /* empty */
  }
}

.sessionList {
  display: block;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    gap: var(--space-3);
    margin: 0;
    padding: 0 var(--space-2);

    svg {
      margin-block: 0.125rem;
    }
  }
}
