.profile-picture {
  --profile-picture-size: 8rem;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
  overflow: hidden;
  width: var(--profile-picture-size);
  height: var(--profile-picture-size);
  border: var(--border-width-standard) solid var(--border-element);
  border-radius: 50%;
  background-color: var(--background-element);
  cursor: pointer;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity var(--timing-standard) var(--ease-standard);
  }

  input {
    align-self: stretch;
    justify-self: stretch;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
  }

  &:hover {
    background-color: var(--background-hover);

    img {
      opacity: 0.25;
    }
  }
}

.settings {
  .labelled {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--small) var(--spacing);

    .labelled__field {
      display: contents;
    }

    .switch {
      grid-row: 1;
      grid-column: 2;
      align-self: center;
    }

    label,
    p {
      grid-column: 1;
      margin: 0;
    }

    label {
      grid-row: 1;
    }
  }
}

.admin-person {
  .registration-summary {
    section {
      margin: 0 0 var(--medium);
    }

    ol {
      margin: 0;
      padding: 0;
      list-style-type: none;
      line-height: var(--line-height-medium);
      counter-reset: position;

      li {
        --counter-background: var(--accent10);

        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--small);
        align-items: start;
        margin: 0 0 var(--small);
        counter-increment: position;

        &::before {
          content: counter(position);
          width: var(--line-height-medium);
          height: var(--line-height-medium);
          border-radius: var(--border-radius-round);
          background-color: var(--counter-background);
          color: var(--text-secondary);
          color: var(--background);
          font-weight: var(--font-weight-medium);
          text-align: center;
        }

        + li {
          --counter-background: var(--accent8);

          + li {
            --counter-background: var(--accent6);

            + li {
              --counter-background: var(--accent5);
            }
          }
        }
      }
    }
  }

  .registration__payments {
    .add-voucher,
    .add-payment {
      display: flex;
      flex-direction: column;
      gap: var(--medium);
      margin-bottom: var(--medium);
      padding: var(--medium);
      border: var(--border-width-standard) solid var(--border-subtle);
      border-radius: var(--border-radius-standard);
      background: var(--background-subtle);

      h3 {
        margin: 0;
      }

      .labelled {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        .input {
          width: 6rem;
        }

        label {
          text-transform: lowercase;
        }
      }
    }

    .add-voucher {
      .labelled__field {
        order: -1;

        .input {
          width: 4rem;
        }
      }
    }

    @media (width > 768px) {
      display: grid;
      grid-template-columns: 1fr 16rem;
      grid-auto-flow: row dense;
      gap: var(--large);

      aside {
        grid-column: 2;
        padding: var(--medium) 0;
      }
    }
  }
}

.payments-table {
  width: 100%;
  margin: var(--medium) 0;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: var(--font-size-legible);
  line-height: var(--line-height-legible);

  td, th {
    vertical-align: top;
    padding: var(--small) var(--medium);
    border-top: var(--border-width-standard) solid var(--border-subtle);
    font-weight: var(--font-weight-normal);
    text-align: left;


    strong {
      font-weight: var(--font-weight-medium);

      + div {
        color: var(--text-subtle);
      }
    }

    &:first-child,
    &:last-child {
      vertical-align: middle;
      width: 2.5rem;
      padding: 0;
      text-align: center;

      .button {
        color: var(--text-subtle);

        &:not([aria-expanded]) {
          opacity: 0;
        }
      }
    }

    &:first-child {
      vertical-align: top;
      padding-block: var(--small);
    }
  }

  tr:hover {
    td:last-child {
      .button {
        opacity: 1;
      }
    }
  }

  .payment__amount {
    text-align: right;
  }

  tbody:first-child,
  tfoot {
    tr:last-child {
      td, th {
        border-top: var(--border-width-standard) solid var(--text);
        border-bottom: var(--border-width-standard) solid var(--text);
      }
    }
  }

  tfoot {
    td, th {
      font-weight: var(--font-weight-medium);
    }
  }
}
