.action-list-item {
  --icon: currentcolor;

  display: grid;
  grid-template: "left label right" / var(--icon-medium) 1fr auto;
  gap: var(--spacing-small);
  align-items: center;
  width: 100%;
  padding: var(--spacing-tiny) var(--spacing-small);
  border-radius: var(--radius-small);
  color: var(--colored-text-default);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  text-decoration: none;

  &:hover {
    color: var(--colored-text-link);
  }
}
