:where(.form-error) {
  color: var(--text-error);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

:where(.validated-field) {
  display: flex;
  flex-direction: column;
  gap: var(--small);
}
