.inset {
  margin-inline: var(--horizontal-padding);
}

.page__header {
  display: grid;
  gap: var(--small);
  padding: var(--large) var(--horizontal-padding);

  &:has(.tabs) {
    padding-bottom: 0;
    border-bottom: var(--border-width-standard) solid var(--border-subtle);

    .tabs {
      margin-bottom: calc(var(--border-width-standard) * -1);
    }
  }

  h1 {
    margin: 0
  }
}

.two-columns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--large) 6rem;

  > header {
    grid-column: 1 / -1;
    padding: var(--large) 0;

    h1 {
      margin: var(--small) 0;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: var(--huge);
  }
}

.form {
  fieldset {
    padding-block: var(--huge);
  }

  &__footer {
    display: flex;
    gap: var(--spacing);
    justify-content: flex-end;
    padding: var(--large) 0 var(--huge);
    border-top: var(--border-width-standard) solid var(--border-subtle);
  }
}
