.registration {
  &__header {
    padding-inline: var(--horizontal-padding);
  }

  &__steps {
    --step-count: attr(data-step-count);

    display: grid;
    grid-template-columns: 1fr 3rem 3rem;
    align-items: flex-end;
    counter-reset: step;
  }

  &__step {
    padding-top: var(--small);
    color: var(--text-subtle);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    counter-increment: step;
    text-decoration: none;

    b {
      display: none;
      font-weight: var(--font-weight-medium);
    }

    &::before {
      content: 'Step ' counter(step) ' of ' attr(data-step-count);
      display: none;
      color: var(--text-subtle);
    }

    &::after {
      content: '';
      display: block;
      height: var(--tiny);
      margin-top: var(--small);
      background: var(--solid-accent);
    }

    &[aria-selected="true"] {
      order: -1;
      color: var(--text);

      b,
      &::before {
        display: block;
      }

      ~ .registration__step {
        &::after {
          background-color: var(--border-subtle);
        }
      }
    }
  }

  &__content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding-inline: var(--horizontal-padding);

    > * {
      grid-row: 1 / -1;
      grid-column: 1 / -1
    }
  }

  &__section {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--medium);
    align-items: flex-start;
    margin: 0;
    padding: var(--large) 0;
    border: 0;

    &__description {
      line-height: var(--line-height-medium);

      h3 {
        margin: 0;
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-large);
        line-height: inherit;
      }

      p {
        margin: var(--small) 0 var(--medium);
        color: var(--text-subtle);
      }

      a {
        color: var(--text-subtle);
        text-decoration: underline;
      }
    }
  }

  &__form {
    transition: opacity var(--timing-standard) var(--ease-standard);

    &[aria-busy] {
      opacity: var(--disabled-opacity);
      pointer-events: none;
    }
  }

  &__fields {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--medium);
    order: 1;

    .skeleton {
      flex: 1;
      max-width: none;
    }
  }

  &__aside {
    padding: calc(var(--spacing) - var(--border-width-standard));
    border: var(--border-width-standard) solid var(--info6);
    border-radius: var(--border-radius-standard);
    background: var(--info2);
    color: var(--info12);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);

    h4 {
      margin: 0 0 var(--small);
      font-weight: var(--font-weight-medium);
    }

    p {
      margin: 0 0 var(--small);
    }

    > :last-child {
      margin-block-end: 0;
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--medium);
    padding: var(--medium) var(--horizontal-padding);

    @media (width > 768px) {
      position: sticky;
      bottom: -1px;
      background: var(--background);
      transition: box-shadow var(--timing-standard) var(--ease-standard);

      &[data-stuck] {
        box-shadow: var(--shadow-footer);
      }
    }
  }

  &__button {
    --button-text: var(--text);
    --button-border-radius: var(--border-radius-standard);
    --button-size: var(--button-size-medium);
    --button-font-size: 1rem;
    --button-line-height: 1.5rem;
    --button-inline-text: var(--accent11);
    --button-inline-hover: var(--accentA4);
    --button-hover-background: var(--accent4);
    --button-hover-text: var(--button-text);

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: [label] 1fr [icon] auto;
    gap: 0 var(--small);
    align-items: center;
    width: auto;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    cursor: pointer;

    .button__text {
      grid-column: label;
      text-align: left;
    }

    small {
      display: block;
      color: var(--text-accent);
      font-weight: var(--font-weight-normal);
      font-size: var(--font-size-medium);
      line-height: var(--line-height-medium);
    }

    .icon {
      grid-row: 1 / -1;
      grid-column: icon;
      color: var(--text-accent);
    }

    &:hover,
    &:focus {
      border-color: var(--accent8);
      background: var(--accent4);
    }

    &[data-action="next"] {
      --button-background: var(--accent3);
      --button-border-color: var(--accent7);

      grid-template-columns: [label] 1fr [icon] auto;
    }

    &[data-action="previous"] {
      --button-background: transparent;
      --button-border-color: transparent;

      grid-template-columns: [icon] auto [label] 1fr;
    }

    @media (width < 768px) {
      small {
        display: inline;
        font: inherit;

        &::after {
          content: ": ";
        }
      }

      &[data-action="previous"] {
        grid-template-columns: [label] 1fr;
        order: 1;

        .icon {
          display: none;
        }
      }
    }
  }

  &[data-complete="true"] {
    .registration__header,
    .registration__footer {
      opacity: 0;
      pointer-events: none;
      transition: opacity var(--timing-standard) var(--ease-standard);
    }
  }

  .cart {
    display: grid;
    grid: "icon count" auto "icon price" auto / auto 1fr;
    gap: 0 var(--medium);

    > .icon {
      grid-area: icon;
      align-self: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: var(--accent9);
      color: white;
    }

    &__count {
      grid-area: count;
      align-self: end;
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-medium);
      line-height: var(--line-height-medium);
    }

    &__price {
      display: flex;
      grid-area: price;
      gap: 0.5ch;
      align-items: baseline;
      align-self: start;
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-large);
      line-height: var(--line-height-large);
    }

    &__value {
      color: var(--text-subtle);
      font-weight: var(--font-weight-normal);
      text-decoration: line-through;
    }

    abbr {
      color: var(--text-subtle);
      font-weight: var(--font-weight-normal);
      font-size: var(--font-size-medium);
      text-decoration: none;
    }
  }

  &__thanks {
    position: relative;
    max-width: 32rem;
    margin: 0 auto;
    text-align: center;

    p {
      font-size: var(--font-size-legible);
      line-height: var(--line-height-large);
    }

    [class^="confetti"] {
      position: absolute;
      top: 0;
      left: 50%;
    }
  }

  @media (width >= 768px) {
    &__steps {
      grid-template-columns: repeat(var(--step-count), 1fr);
      gap: var(--large);
    }

    &__step {
      b {
        display: block;
      }

      &::before {
        content: 'Step ' counter(step);
        display: block;
      }

      &[aria-selected] {
        order: unset;
      }
    }

    &__section {
      grid-template-columns: 1fr 1fr 1fr;
      gap: var(--large);
      padding-block: var(--large);

      &__description {
        grid-column: 1;

        h3 {
          font-size: var(--font-size-medium);
        }
      }

      + .registration__section {
        border-top: var(--border-width-standard) solid var(--border-subtle);
      }
    }

    &__fields {
      grid-column: 2;
      gap: var(--large);
      order: unset;
    }

    &__aside {
      align-self: flex-start;
      margin-top: calc(var(--line-height-medium) + var(--small));
    }

    .code-of-conduct {
      .registration__fields {
        grid-column: 2 / -1;
      }
    }

    &__footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: var(--large);
      align-items: stretch;

      [data-action="next"] {
        grid-column: -2;
      }

      .cart {
        grid-row: 1;
        grid-column: 2;
      }
    }
  }
}
