body,
[data-theme] {
  --tab-padding-inline: var(--spacing-base);
  --tab-padding-block-start: var(--spacing-small);
  --tab-padding-block-end: var(--spacing-base);
  --tab-gap: var(--spacing-small);
  --tab-background: transparent;
  --tab-hover-background: var(--background-element-hover);
  --tab-highlight-height: var(--border-thick);
  --tab-highlight-color: var(--magenta-9);
}
