.page-header {
  --page-header-title-min-height: 8rem;

  display: grid;
  justify-items: center;
  padding-top: var(--spacing-large);
  border-bottom: var(--border-thin) solid var(--border-subtle);

  > .container {
    display: grid;
    grid-template:
      "breadcrumbs actions" auto
      "title title" var(--page-header-title-min-height)
      "navigation navigation" auto / auto auto;
    gap: var(--spacing-base);
  }

  &__title {
    display: grid;
    grid-area: title;
    align-items: end;

    h1 {
      align-self: end;
      margin: 0;
      font-weight: var(--font-weight-medium);
      font-size: 3rem;
    }
  }

  &__navigation {
    display: flex;
    grid-area: navigation;
    justify-content: space-between;
    margin-bottom: calc(var(--border-thin) * -1);
  }

  &__breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    grid-area: breadcrumbs;
    gap: 1ch;
    align-items: center;

    a {
      color: var(--text-subtle);
      text-decoration: none;

      &:hover {
        color: var(--text-default);
      }
    }

    .icon {
      color: var(--border-subtle);
    }
  }
}

body,
[data-theme] {
  --tab-padding-inline: var(--spacing-base);
  --tab-padding-block-start: var(--spacing-small);
  --tab-padding-block-end: var(--spacing-base);
  --tab-gap: var(--spacing-small);
  --tab-background: transparent;
  --tab-hover-background: var(--background-element-hover);
  --tab-highlight-height: var(--border-thick);
  --tab-highlight-color: var(--magenta-9);
}

.mantine-Tabs {
  &-list {
    display: flex;
    gap: var(--tab-gap);
    margin-inline: calc(var(--tab-padding-inline) * -1);
  }

  &-tab {
    position: relative;
    display: flex;
    padding: var(--tab-padding-block-start) var(--tab-padding-inline) var(--tab-padding-block-end);
    border: 0;
    background-color: var(--tab-background);
    color: var(--text-subtle);
    box-shadow: none;
    font: inherit;
    font-weight: var(--font-weight-normal);
    cursor: pointer;

    &:focus-visible {
      --tab-background: var(--tab-hover-background);

      outline: none;
    }

    &:hover {
      color: var(--text-primary);
    }

    &[aria-selected="true"] {
      color: var(--text-primary);

      &::after {
        content: "";
        position: absolute;
        inset: auto 0 0;
        height: var(--tab-highlight-height);
        background: var(--tab-highlight-color);
      }
    }
  }
}
