.mantine-Menu {
  &-dropdown {
    padding: var(--spacing-tiny);
  }

  &-label {
    padding: var(--spacing-tiny) var(--spacing-small);
    color: var(--mantine-color-dimmed);
    font-weight: 500;
    font-size: var(--mantine-font-size-xs);
    cursor: default;
  }

  &-divider {
    margin-block: var(--spacing-small);
    border-top: 1px solid var(--border-subtle);
  }

  &-item {
    display: grid;
    grid-template: "left label right" / var(--icon-medium) 1fr auto;
    gap: var(--spacing-small);
    align-items: center;
    width: 100%;
    min-width: 10rem;
    padding: var(--spacing-tiny) var(--spacing-small);
    border-radius: var(--radius-small);
    color: var(--text-default);
    font-size: var(--mantine-font-size-sm);
    text-decoration: none;
    user-select: none;

    &:where([data-disabled], :disabled) {
      color: var(--text-subtle);
      opacity: 0.6;
      pointer-events: none;
    }

    &:where([data-hovered]) {
      background-color: var(--focus-ring);
    }
  }

  &-itemLabel {
    flex: 1;
    grid-area: label;
  }

  &-itemSection {
    display: flex;
    justify-content: center;
    align-items: center;

    &:where([data-position='left']) {
      grid-area: left;
      margin-inline-end: var(--mantine-spacing-xs);
    }

    &:where([data-position='right']) {
      grid-area: right;
      margin-inline-start: var(--mantine-spacing-xs);
    }
  }
}
