:where(.icon) {
  display: block;
  flex: 0 0 var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--icon);
  fill: currentcolor;

  p & {
    display: inline-block;
  }

  path {
    fill: inherit;
    stroke: inherit;

    &:not([fill]) {
      fill: currentcolor;
    }

    &:not([stroke]) {
      stroke: none;
    }
  }

  &:where([data-size="small"]) {
    --icon-size: var(--icon-small);
  }

  &:where([data-size="medium"]) {
    --icon-size: var(--icon-medium);
  }

  &:where([data-size="large"]) {
    --icon-size: var(--icon-large);
  }

  &:where([data-size="huge"]) {
    --icon-size: var(--icon-huge);
  }

  g[stroke] path {
    stroke: inherit;
  }

  g[fill] path {
    fill: inherit;
  }

  &[data-icon="ThemeIcon"] {
    --pos: 0;
    --arc-radius: 10px;

    * {
      transition: transform 0.5s var(--ease-squish-5), opacity 0.5s var(--ease-standard);
    }

    circle {
      &.sun {
        fill: currentcolor;
        transition-delay: calc(var(--pos) * 0.25s);
        transform: scale(calc((var(--pos) * 8 + 10) / 18));
      }

      &.shadow {
        transition-delay: calc(var(--pos) * 0.5s);
        transform: rotate(calc(120deg - var(--pos) * 88deg));
        transform-origin: var(--arc-radius) calc(var(--arc-radius) / 2);
      }
    }

    path {
      --i: 0;

      opacity: calc(1 - var(--pos));
      fill: none;
      stroke: currentcolor;
      transition-delay: calc((1 - var(--pos)) * var(--i) * 0.05s + 0.1s);
      transform: rotate(calc(var(--i) * 45deg)) translateX(calc(var(--pos) * -2px));
      transform-origin: 0 0;
      stroke-linecap: round;
      stroke-width: 2px;

      &:nth-child(1) { --i: 0; }
      &:nth-child(2) { --i: 1; }
      &:nth-child(3) { --i: 2; }
      &:nth-child(4) { --i: 3; }
      &:nth-child(5) { --i: 4; }
      &:nth-child(6) { --i: 5; }
      &:nth-child(7) { --i: 6; }
      &:nth-child(8) { --i: 7; }
    }

    body[data-theme="dark"] & {
      --pos: 1;
    }
  }
}
