.popup {
  overflow-y: auto;
  width: var(--radix-popover-trigger-width);
  max-height: 20rem;
  padding-block: var(--space-3);
  border-radius: var(--radius-medium);
  background-color: var(--color-surface);
  box-shadow: var(--shadow-4);
}

.result {
  display: flex;
  gap: var(--space-3);
  align-items: center;
  padding: var(--space-2) var(--space-3);

  [data-icon] {
    flex: 0 0 auto;
    color: inherit;
  }

  &[aria-selected="true"] {
    background-color: var(--accent-4);
    color: var(--accent-12);
  }
}
