:root[data-mantine-color-scheme] body {
  --input-bd: var(--border-input);
  --input-bd-hover: var(--border-input-hover);
  --input-bd-focus: var(--border-input-focus);
  --mantine-primary-color-filled: var(--crimson-9);
  --popover-shadow: var(--shadow-base);
}

[data-theme] {
  .mantine-Badge-root {
    --badge-bg: var(--background-solid);
    --badge-color: var(--colored-text-inverse);

    &[data-variant="outline"] {
      --badge-color: var(--colored-text-default) !important;
      --badge-bd: var(--border-thin) solid var(--colored-text-default) !important;
    }
  }

  .mantine-Notifications-notification.mantine-Notification {
    &-root {
      display: grid;
      grid-template-columns: 1fr var(--icon-medium);
      align-items: center;
      padding: var(--spacing-base);
      border: 1px solid var(--border-subtle);
      background-color: var(--background-subtle);
      color: var(--text-subtle);
      box-shadow: var(--shadow-large), 0 0 0 var(--border-thin) var(--modal-border);
      column-gap: var(--spacing-base);

      &::before {
        display: none;
      }

      .mantine-Notification {
        &-title,
        &-description {
          grid-column: 1;
          font-size: var(--font-size-medium);
          line-height: var(--line-height-medium);
        }
      }

      .mantine-CloseButton-root {
        --cb-radius:var(--radius-round);

        grid-row: 1 / -1;
        grid-column: 2;
        align-self: start;
        justify-self: center;
        border: 0;
        background: none;
        color: var(--text-subtle);
        box-shadow: none;
        cursor: pointer;

        &:hover {
          color: var(--text-default);
        }

        svg {
          --cb-icon-size: var(--icon-medium);
        }
      }
    }
  }

  .mantine-SegmentedControl-input[data-focus-ring='auto']:focus:focus-visible + .mantine-SegmentedControl-label {
    outline-color: var(--border-input-focus);
  }
}
