.reset-password {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;

  main {
    display: grid;
    flex: 1;
    place-items: center;
    padding: var(--huge) var(--horizontal-padding);
  }

  &__form {
    display: grid;
    gap: var(--medium);
    width: 100%;
    max-width: 25rem;

    h1 {
      margin: 0;
    }
  }

  &__error {
    padding: var(--medium);
    border: 1px solid var(--border-info);
    border-radius: var(--border-radius-standard);
    color: var(--text-info);
  }
}
