.root {
  [data-theme] & {
    --badge-height-xs: 1rem;
    --badge-height-sm: 1.25rem;
    --badge-height-md: 1.5rem;
    --badge-height-lg: 2rem;
    --badge-height-xl: 2.5rem;

    --badge-fz-xs: var(--font-size-tiny);
    --badge-fz-sm: var(--font-size-small);
    --badge-fz-md: var(--font-size-medium);
    --badge-fz-lg: var(--font-size-large);
    --badge-fz-xl: var(--font-size-xl);

    --badge-padding-x-xs: var(--spacing-tiny);
    --badge-padding-x-sm: var(--spacing-small);
    --badge-padding-x-md: var(--spacing-medium);
    --badge-padding-x-lg: var(--spacing-base);
    --badge-padding-x-xl: var(--spacing-large);

    --badge-border-width: var(--border-thin);
    --badge-border-color: var(--border-element);
    --badge-background: transparent;
    --badge-text: var(--colored-text-default);

    --icon: currentcolor;

    gap: calc(var(--badge-padding-x) / 2);
    padding-inline: 0;
    font-weight: var(--font-weight-medium);
    letter-spacing: 0;

    &:where([data-circle]) {
      padding-inline: calc(var(--badge-border-width) * 2);
    }

    &[data-variant="filled"] {
      --badge-border-width: 0px;
      --badge-background: var(--background-solid);
      --badge-text: var(--colored-text-inverse);
    }

    &[data-variant="outline"] {
      --badge-border-color: currentcolor;
      --badge-background: var(--color-background);
    }

    &[data-variant="light"] {
      --badge-border-width: 0px;
      --badge-background: var(--background-light);
      --badge-text: var(--colored-text-default);
    }

    &[data-variant="transparent"] {
      --badge-border-width: 0px;
      --badge-background: transparent;
      --badge-text: var(--colored-text-default);
    }

    &[data-variant="white"] {
      --badge-border-width: 0px;
      --badge-background: var(--color-background);
      --badge-text: var(--colored-text-default);
    }

    &[data-variant="dot"] {
      --badge-text: var(--text-default);
    }
  }
}

.label {
  [data-theme] & {
    padding-inline: 0;

    &:first-child {
      padding-inline-start: var(--badge-padding-x);
    }

    &:last-child {
      padding-inline-end: var(--badge-padding-x);
    }
  }
}

.section {
  [data-theme] & {
    margin-inline: 0;

    button {
      margin-inline: calc((var(--badge-height) - var(--ai-size)) / 2);
    }
  }
}

