:where(.progress-bar) {
  --progress-bar-height: var(--small);
  --progress-bar-background: var(--background-element);
  --progress-bar-foreground: var(--input-active);

  height: var(--progress-bar-height);
  appearance: none;

  &::-webkit-progress-bar {
    border-radius: var(--border-radius-round);
    background-color: var(--progress-bar-background);
  }

  &::-webkit-progress-value {
    min-width: var(--progress-bar-height);
    border-radius: var(--border-radius-round);
    background: var(--progress-bar-foreground);
    transition: width var(--timing-standard) var(--ease-standard);
  }
}
