@import url("@/styles/new/fonts.css");
@import url("@/styles/new/variables.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --theme-transition:
    background-color var(--theme-transition-speed) var(--ease-standard),
    color var(--theme-transition-speed) var(--ease-standard);

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  padding: 0;
}

.layout {
  display: grid;
}

.container {
  container-type: inline-size;
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
  --color-background: var(--background-app);

  transition: var(--theme-transition);
}

.rt-BaseDialogOverlay {
  z-index: var(--z-index-modal);
}
