@import url("@/styles/new/variables.css");
@import url("@/styles/new/fonts.css");
@import url("@/styles/new/shadows.css");

:root {
  --mantine-spacing-md: var(--spacing-base);
  --theme-transition-speed: 0.25s;
  --theme-transition:
    background-color var(--theme-transition-speed) var(--ease-standard),
    color var(--theme-transition-speed) var(--ease-standard);

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-app);
  color: var(--text-default);
  font-family: "DIN Round Pro", sans-serif;
  transition: var(--theme-transition);
}

.layout {
  display: grid;
}

.container {
  container-type: inline-size;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
}

::selection {
  background: var(--focus-magenta);
}

a {
  color: var(--link);

  &:hover,
  &:active {
    color: var(--link-hover);
  }
}
