@import url('@radix-ui/colors/slate.css');
@import url('@radix-ui/colors/slateDark.css');
@import url('@radix-ui/colors/slateA.css');
@import url('@radix-ui/colors/slateDarkA.css');
@import url('@radix-ui/colors/crimson.css');
@import url('@radix-ui/colors/crimsonDark.css');
@import url('@radix-ui/colors/crimsonA.css');
@import url('@radix-ui/colors/crimsonDarkA.css');
@import url('@radix-ui/colors/orange.css');
@import url('@radix-ui/colors/orangeDark.css');
@import url('@radix-ui/colors/amber.css');
@import url('@radix-ui/colors/amberDark.css');
@import url('@radix-ui/colors/red.css');
@import url('@radix-ui/colors/redDark.css');
@import url('@radix-ui/colors/redA.css');
@import url('@radix-ui/colors/redDarkA.css');
@import url('@radix-ui/colors/cyan.css');
@import url('@radix-ui/colors/cyanDark.css');
@import url('@radix-ui/colors/cyanA.css');
@import url('@radix-ui/colors/cyanDarkA.css');
@import url('@radix-ui/colors/grass.css');
@import url('@radix-ui/colors/grassDark.css');
@import url('@radix-ui/colors/grassA.css');
@import url('@radix-ui/colors/grassDarkA.css');

:where(body) {
  /* Neutral colors */
  --neutral1: var(--slate1);
  --neutral2: var(--slate2);
  --neutral3: var(--slate3);
  --neutral4: var(--slate4);
  --neutral5: var(--slate5);
  --neutral6: var(--slate6);
  --neutral7: var(--slate7);
  --neutral8: var(--slate8);
  --neutral9: var(--slate9);
  --neutral10: var(--slate10);
  --neutral11: var(--slate11);
  --neutral12: var(--slate12);
  --neutralA1: var(--slateA1);
  --neutralA2: var(--slateA2);
  --neutralA3: var(--slateA3);
  --neutralA4: var(--slateA4);
  --neutralA5: var(--slateA5);
  --neutralA6: var(--slateA6);
  --neutralA7: var(--slateA7);
  --neutralA8: var(--slateA8);
  --neutralA9: var(--slateA9);
  --neutralA10: var(--slateA10);
  --neutralA11: var(--slateA11);
  --neutralA12: var(--slateA12);

  /* Accent colors */
  --accent1: var(--crimson1);
  --accent2: var(--crimson2);
  --accent3: var(--crimson3);
  --accent4: var(--crimson4);
  --accent5: var(--crimson5);
  --accent6: var(--crimson6);
  --accent7: var(--crimson7);
  --accent8: var(--crimson8);
  --accent9: var(--crimson9);
  --accent10: var(--crimson10);
  --accent11: var(--crimson11);
  --accent12: var(--crimson12);
  --accentA1: var(--crimsonA1);
  --accentA2: var(--crimsonA2);
  --accentA3: var(--crimsonA3);
  --accentA4: var(--crimsonA4);
  --accentA5: var(--crimsonA5);
  --accentA6: var(--crimsonA6);
  --accentA7: var(--crimsonA7);
  --accentA8: var(--crimsonA8);
  --accentA9: var(--crimsonA9);
  --accentA10: var(--crimsonA10);
  --accentA11: var(--crimsonA11);
  --accentA12: var(--crimsonA12);

  /* Color aliases */
  --background: var(--neutral1);
  --background-subtle: var(--neutral2);
  --background-element: var(--neutral3);
  --background-hover: var(--neutral4);
  --background-active: var(--neutral5);
  --border-subtle: var(--neutral6);
  --border-element: var(--neutral7);
  --border-hover: var(--neutral8);
  --solid: var(--neutral9);
  --solid-hover: var(--neutral10);
  --text-subtle: var(--neutral11);
  --text: var(--neutral12);
  --background-accent: var(--accent1);
  --background-subtle-accent: var(--accent2);
  --background-element-accent: var(--accent3);
  --background-hover-accent: var(--accent4);
  --background-active-accent: var(--accent5);
  --border-subtle-accent: var(--accent6);
  --border-element-accent: var(--accent7);
  --border-hover-accent: var(--accent8);
  --border-focus-accent: var(--accent9);
  --solid-accent: var(--accent9);
  --solid-hover-accent: var(--accent10);
  --text-subtle-accent: var(--accent10);
  --text-accent: var(--accent11);
  --contrast-accent: var(--accent1);
  --white: var(--accent1);
  --focus: var(--accentA7);
  --highlight: var(--accentA4);
  --input-outline: var(--neutral7);
  --input-active: var(--accent9);
  --input-inactive: var(--neutral7);

  /* Activity colors */
  --show1: var(--cyan1);
  --show2: var(--cyan2);
  --show3: var(--cyan3);
  --show4: var(--cyan4);
  --show5: var(--cyan5);
  --show6: var(--cyan6);
  --show7: var(--cyan7);
  --show8: var(--cyan8);
  --show9: var(--cyan9);
  --show10: var(--cyan10);
  --show11: var(--cyan11);
  --show12: var(--cyan12);
  --showA1: var(--cyanA1);
  --showA2: var(--cyanA2);
  --showA3: var(--cyanA3);
  --showA4: var(--cyanA4);
  --showA5: var(--cyanA5);
  --showA6: var(--cyanA6);
  --showA7: var(--cyanA7);
  --showA8: var(--cyanA8);
  --showA9: var(--cyanA9);
  --showA10: var(--cyanA10);
  --showA11: var(--cyanA11);
  --showA12: var(--cyanA12);
  --workshop1: var(--grass1);
  --workshop2: var(--grass2);
  --workshop3: var(--grass3);
  --workshop4: var(--grass4);
  --workshop5: var(--grass5);
  --workshop6: var(--grass6);
  --workshop7: var(--grass7);
  --workshop8: var(--grass8);
  --workshop9: var(--grass9);
  --workshop10: var(--grass10);
  --workshop11: var(--grass11);
  --workshop12: var(--grass12);
  --workshopA1: var(--grassA1);
  --workshopA2: var(--grassA2);
  --workshopA3: var(--grassA3);
  --workshopA4: var(--grassA4);
  --workshopA5: var(--grassA5);
  --workshopA6: var(--grassA6);
  --workshopA7: var(--grassA7);
  --workshopA8: var(--grassA8);
  --workshopA9: var(--grassA9);
  --workshopA10: var(--grassA10);
  --workshopA11: var(--grassA11);
  --workshopA12: var(--grassA12);

  /* Misc */
  --disabled-opacity: 0.6;
  --placeholder-opacity: 0.75;
}

:where([data-activity-type="workshop"]) {
  --activity1: var(--workshop1);
  --activity2: var(--workshop2);
  --activity3: var(--workshop3);
  --activity4: var(--workshop4);
  --activity5: var(--workshop5);
  --activity6: var(--workshop6);
  --activity7: var(--workshop7);
  --activity8: var(--workshop8);
  --activity9: var(--workshop9);
  --activity10: var(--workshop10);
  --activity11: var(--workshop11);
  --activity12: var(--workshop12);
  --activityA1: var(--workshopA1);
  --activityA2: var(--workshopA2);
  --activityA3: var(--workshopA3);
  --activityA4: var(--workshopA4);
  --activityA5: var(--workshopA5);
  --activityA6: var(--workshopA6);
  --activityA7: var(--workshopA7);
  --activityA8: var(--workshopA8);
  --activityA9: var(--workshopA9);
  --activityA10: var(--workshopA10);
  --activityA11: var(--workshopA11);
  --activityA12: var(--workshopA12);
}

:where([data-activity-type="show"]) {
  --activity1: var(--show1);
  --activity2: var(--show2);
  --activity3: var(--show3);
  --activity4: var(--show4);
  --activity5: var(--show5);
  --activity6: var(--show6);
  --activity7: var(--show7);
  --activity8: var(--show8);
  --activity9: var(--show9);
  --activity10: var(--show10);
  --activity11: var(--show11);
  --activity12: var(--show12);
  --activityA1: var(--showA1);
  --activityA2: var(--showA2);
  --activityA3: var(--showA3);
  --activityA4: var(--showA4);
  --activityA5: var(--showA5);
  --activityA6: var(--showA6);
  --activityA7: var(--showA7);
  --activityA8: var(--showA8);
  --activityA9: var(--showA9);
  --activityA10: var(--showA10);
  --activityA11: var(--showA11);
  --activityA12: var(--showA12);
}

:where([data-theme="light"]) {
  --popup-border: var(--background-subtle);
}

:where([data-theme="dark"]) {
  --white: var(--neutral12);
  --popup-border: var(--neutral3);
}

*::selection {
  background-color: var(--highlight);
}
