@import url('@radix-ui/colors/slate.css');
@import url('@radix-ui/colors/slateDark.css');
@import url('@radix-ui/colors/slateA.css');
@import url('@radix-ui/colors/slateDarkA.css');
@import url('@radix-ui/colors/crimson.css');
@import url('@radix-ui/colors/crimsonDark.css');
@import url('@radix-ui/colors/crimsonA.css');
@import url('@radix-ui/colors/crimsonDarkA.css');
@import url('@radix-ui/colors/orange.css');
@import url('@radix-ui/colors/orangeDark.css');
@import url('@radix-ui/colors/amber.css');
@import url('@radix-ui/colors/amberDark.css');
@import url('@radix-ui/colors/red.css');
@import url('@radix-ui/colors/redDark.css');
@import url('@radix-ui/colors/redA.css');
@import url('@radix-ui/colors/redDarkA.css');
@import url('@radix-ui/colors/cyan.css');
@import url('@radix-ui/colors/cyanDark.css');
@import url('@radix-ui/colors/cyanA.css');
@import url('@radix-ui/colors/cyanDarkA.css');
@import url('@radix-ui/colors/yellow.css');
@import url('@radix-ui/colors/yellowDark.css');
@import url('@radix-ui/colors/yellowA.css');
@import url('@radix-ui/colors/yellowDarkA.css');

:where(body) {
  /* Neutral colors */
  --neutral1: var(--slate1);
  --neutral2: var(--slate2);
  --neutral3: var(--slate3);
  --neutral4: var(--slate4);
  --neutral5: var(--slate5);
  --neutral6: var(--slate6);
  --neutral7: var(--slate7);
  --neutral8: var(--slate8);
  --neutral9: var(--slate9);
  --neutral10: var(--slate10);
  --neutral11: var(--slate11);
  --neutral12: var(--slate12);
  --neutralA1: var(--slateA1);
  --neutralA2: var(--slateA2);
  --neutralA3: var(--slateA3);
  --neutralA4: var(--slateA4);
  --neutralA5: var(--slateA5);
  --neutralA6: var(--slateA6);
  --neutralA7: var(--slateA7);
  --neutralA8: var(--slateA8);
  --neutralA9: var(--slateA9);
  --neutralA10: var(--slateA10);
  --neutralA11: var(--slateA11);
  --neutralA12: var(--slateA12);

  /* Accent colors */
  --accent1: var(--crimson1);
  --accent2: var(--crimson2);
  --accent3: var(--crimson3);
  --accent4: var(--crimson4);
  --accent5: var(--crimson5);
  --accent6: var(--crimson6);
  --accent7: var(--crimson7);
  --accent8: var(--crimson8);
  --accent9: var(--crimson9);
  --accent10: var(--crimson10);
  --accent11: var(--crimson11);
  --accent12: var(--crimson12);
  --accentA1: var(--crimsonA1);
  --accentA2: var(--crimsonA2);
  --accentA3: var(--crimsonA3);
  --accentA4: var(--crimsonA4);
  --accentA5: var(--crimsonA5);
  --accentA6: var(--crimsonA6);
  --accentA7: var(--crimsonA7);
  --accentA8: var(--crimsonA8);
  --accentA9: var(--crimsonA9);
  --accentA10: var(--crimsonA10);
  --accentA11: var(--crimsonA11);
  --accentA12: var(--crimsonA12);
  --info1: var(--amber1);
  --info2: var(--amber2);
  --info3: var(--amber3);
  --info4: var(--amber4);
  --info5: var(--amber5);
  --info6: var(--amber6);
  --info7: var(--amber7);
  --info8: var(--amber8);
  --info9: var(--amber9);
  --info10: var(--amber10);
  --info11: var(--amber11);
  --info12: var(--amber12);

  /* Color aliases */
  --background: var(--neutral1);
  --background-subtle: var(--neutral2);
  --background-element: var(--neutral3);
  --background-hover: var(--neutral4);
  --background-active: var(--neutral5);
  --border-subtle: var(--neutral6);
  --border-element: var(--neutral7);
  --border-hover: var(--neutral8);
  --solid: var(--neutral9);
  --solid-hover: var(--neutral10);
  --text-subtle: var(--neutral11);
  --text: var(--neutral12);
  --text-error: var(--red11);
  --background-accent: var(--accent1);
  --background-subtle-accent: var(--accent2);
  --background-element-accent: var(--accent3);
  --background-hover-accent: var(--accent4);
  --background-active-accent: var(--accent5);
  --border-subtle-accent: var(--accent6);
  --border-element-accent: var(--accent7);
  --border-hover-accent: var(--accent8);
  --border-focus-accent: var(--accent9);
  --solid-accent: var(--accent9);
  --solid-hover-accent: var(--accent10);
  --text-subtle-accent: var(--accent10);
  --text-accent: var(--accent11);
  --contrast-accent: var(--accent1);
  --white: var(--accent1);
  --focus: var(--accentA7);
  --highlight: var(--accentA4);
  --input-outline: var(--neutral7);
  --input-active: var(--accent9);
  --input-inactive: var(--neutral7);

  /* Activity colors */
  --show-1: var(--cyan1);
  --show-2: var(--cyan2);
  --show-3: var(--cyan3);
  --show-4: var(--cyan4);
  --show-5: var(--cyan5);
  --show-6: var(--cyan6);
  --show-7: var(--cyan7);
  --show-8: var(--cyan8);
  --show-9: var(--cyan9);
  --show-10: var(--cyan10);
  --show-11: var(--cyan11);
  --show-12: var(--cyan12);
  --show-A1: var(--cyanA1);
  --show-A2: var(--cyanA2);
  --show-A3: var(--cyanA3);
  --show-A4: var(--cyanA4);
  --show-A5: var(--cyanA5);
  --show-A6: var(--cyanA6);
  --show-A7: var(--cyanA7);
  --show-A8: var(--cyanA8);
  --show-A9: var(--cyanA9);
  --show-A10: var(--cyanA10);
  --show-A11: var(--cyanA11);
  --show-A12: var(--cyanA12);
  --workshop-1: var(--crimson1);
  --workshop-2: var(--crimson2);
  --workshop-3: var(--crimson3);
  --workshop-4: var(--crimson4);
  --workshop-5: var(--crimson5);
  --workshop-6: var(--crimson6);
  --workshop-7: var(--crimson7);
  --workshop-8: var(--crimson8);
  --workshop-9: var(--crimson9);
  --workshop-10: var(--crimson10);
  --workshop-11: var(--crimson11);
  --workshop-12: var(--crimson12);
  --workshop-A1: var(--crimsonA1);
  --workshop-A2: var(--crimsonA2);
  --workshop-A3: var(--crimsonA3);
  --workshop-A4: var(--crimsonA4);
  --workshop-A5: var(--crimsonA5);
  --workshop-A6: var(--crimsonA6);
  --workshop-A7: var(--crimsonA7);
  --workshop-A8: var(--crimsonA8);
  --workshop-A9: var(--crimsonA9);
  --workshop-A10: var(--crimsonA10);
  --workshop-A11: var(--crimsonA11);
  --workshop-A12: var(--crimsonA12);
  --social-event-1: var(--yellow1);
  --social-event-2: var(--yellow2);
  --social-event-3: var(--yellow3);
  --social-event-4: var(--yellow4);
  --social-event-5: var(--yellow5);
  --social-event-6: var(--yellow6);
  --social-event-7: var(--yellow7);
  --social-event-8: var(--yellow8);
  --social-event-9: var(--yellow9);
  --social-event-10: var(--yellow10);
  --social-event-11: var(--yellow11);
  --social-event-12: var(--yellow12);
  --social-event-A1: var(--yellowA1);
  --social-event-A2: var(--yellowA2);
  --social-event-A3: var(--yellowA3);
  --social-event-A4: var(--yellowA4);
  --social-event-A5: var(--yellowA5);
  --social-event-A6: var(--yellowA6);
  --social-event-A7: var(--yellowA7);
  --social-event-A8: var(--yellowA8);
  --social-event-A9: var(--yellowA9);
  --social-event-A10: var(--yellowA10);
  --social-event-A11: var(--yellowA11);
  --social-event-A12: var(--yellowA12);
  --activity-foreground: white;

  /* Misc */
  --disabled-opacity: 0.6;
  --placeholder-opacity: 0.75;
}

:where([data-activity-type="workshop"]) {
  --activity1: var(--workshop-1);
  --activity2: var(--workshop-2);
  --activity3: var(--workshop-3);
  --activity4: var(--workshop-4);
  --activity5: var(--workshop-5);
  --activity6: var(--workshop-6);
  --activity7: var(--workshop-7);
  --activity8: var(--workshop-8);
  --activity9: var(--workshop-9);
  --activity10: var(--workshop-10);
  --activity11: var(--workshop-11);
  --activity12: var(--workshop-12);
  --activityA1: var(--workshop-A1);
  --activityA2: var(--workshop-A2);
  --activityA3: var(--workshop-A3);
  --activityA4: var(--workshop-A4);
  --activityA5: var(--workshop-A5);
  --activityA6: var(--workshop-A6);
  --activityA7: var(--workshop-A7);
  --activityA8: var(--workshop-A8);
  --activityA9: var(--workshop-A9);
  --activityA10: var(--workshop-A10);
  --activityA11: var(--workshop-A11);
  --activityA12: var(--workshop-A12);
}

:where([data-activity-type="show"]) {
  --activity1: var(--show-1);
  --activity2: var(--show-2);
  --activity3: var(--show-3);
  --activity4: var(--show-4);
  --activity5: var(--show-5);
  --activity6: var(--show-6);
  --activity7: var(--show-7);
  --activity8: var(--show-8);
  --activity9: var(--show-9);
  --activity10: var(--show-10);
  --activity11: var(--show-11);
  --activity12: var(--show-12);
  --activityA1: var(--show-A1);
  --activityA2: var(--show-A2);
  --activityA3: var(--show-A3);
  --activityA4: var(--show-A4);
  --activityA5: var(--show-A5);
  --activityA6: var(--show-A6);
  --activityA7: var(--show-A7);
  --activityA8: var(--show-A8);
  --activityA9: var(--show-A9);
  --activityA10: var(--show-A10);
  --activityA11: var(--show-A11);
  --activityA12: var(--show-A12);
}

:where([data-activity-type="social-event"]) {
  --activity1: var(--social-event-1);
  --activity2: var(--social-event-2);
  --activity3: var(--social-event-3);
  --activity4: var(--social-event-4);
  --activity5: var(--social-event-5);
  --activity6: var(--social-event-6);
  --activity7: var(--social-event-7);
  --activity8: var(--social-event-8);
  --activity9: var(--social-event-9);
  --activity10: var(--social-event-10);
  --activity11: var(--social-event-11);
  --activity12: var(--social-event-12);
  --activityA1: var(--social-event-A1);
  --activityA2: var(--social-event-A2);
  --activityA3: var(--social-event-A3);
  --activityA4: var(--social-event-A4);
  --activityA5: var(--social-event-A5);
  --activityA6: var(--social-event-A6);
  --activityA7: var(--social-event-A7);
  --activityA8: var(--social-event-A8);
  --activityA9: var(--social-event-A9);
  --activityA10: var(--social-event-A10);
  --activityA11: var(--social-event-A11);
  --activityA12: var(--social-event-A12);
  --activity-foreground: black;
}

:where([data-theme="light"]) {
  --popup-border: var(--background-subtle);
}

:where([data-theme="dark"]) {
  --white: var(--neutral12);
  --popup-border: var(--neutral3);
}

*::selection {
  background-color: var(--highlight);
}
