:where(:root) {
  --tiny: 0.25rem;
  --small: 0.5rem;
  --half: 0.75rem;
  --spacing: 1rem;
  --medium: 1rem;
  --large: 1.5rem;
  --huge: 2.5rem;
  --icon-size: 1.5rem;
  --border-radius-standard: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-radius-round: 100vmax;
  --button-size-small: 2rem;
  --button-size-medium: 2.5rem;
  --button-size-large: 3.5rem;
  --focus-width: 0.25rem;
  --border-width-standard: 1px;
  --border-width-thick: 2px;

  /* White space */
  --max-width: 64rem;
  --min-horizontal-padding: var(--large);
  --horizontal-padding: max(var(--min-horizontal-padding), calc((100vw - var(--max-width)) / 2));

  @media (width > 768px) {
    --min-horizontal-padding: var(--huge);
  }
}
