@font-face {
  font-weight: 400;
  font-family: "DIN Round Pro";
  src: url("~/fonts/DINRoundPro.woff2") format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: "DIN Round Pro";
  src: url("~/fonts/DINRoundPro-Light.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "DIN Round Pro";
  src: url("~/fonts/DINRoundPro-Medium.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "DIN Round Pro";
  src: url("~/fonts/DINRoundPro-Bold.woff2") format("woff2");
}

@font-face {
  font-weight: 900;
  font-family: "DIN Round Pro";
  src: url("~/fonts/DINRoundPro-Black.woff2") format("woff2");
}

:where(:root) {
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-width-normal: 100;
  --font-width-wide: 125;
  --font-size-tiny: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-legible: 1.125rem;
  --font-size-large: 1.25rem;
  --font-size-huge: 2rem;
  --line-height-tiny: 1rem;
  --line-height-small: 1.5rem;
  --line-height-medium: 1.5rem;
  --line-height-large: 2rem;
  --line-height-huge: 3rem;
  --font-stack: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  --font-family-base: "DIN Round Pro", var(--font-stack);
}

body {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-medium);
  font-family: var(--font-family-base);
  line-height: calc(var(--line-height-medium) / var(--font-size-medium));
  font-feature-settings: var(--font-feature-settings);
}
