.switch {
  --track-size: calc(var(--thumb-size) * 2);
  --track-padding: 0.25rem;
  --track-inactive: var(--background-element);
  --track-inactive-hover: var(--background-element-hover);
  --track-active: var(--background-selected);
  --track-active-hover: var(--background-selected);
  --thumb-size: 1rem;
  --thumb: var(--background-app);
  --thumb-color: var(--thumb);
  --thumb-position: 0%;
  --thumb-transition-duration: 0.2s;
  --focus-size: 0;

  --isLTR: 1;

  display: grid;
  flex-shrink: 0;
  grid: [track] 1fr / [track] 1fr;
  align-items: center;
  box-sizing: content-box;
  padding: var(--track-padding);
  border: none;
  border-radius: var(--track-size);
  background: var(--track-inactive);
  outline: var(--focus-size) solid var(--focus-ring);
  outline-offset: 0;
  cursor: pointer;
  user-select: none;
  transition: outline-width 1s ease;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  inline-size: var(--track-size);
  block-size: var(--thumb-size);
  touch-action: pan-y;

  &:dir(rtl) {
    --isLTR: -1;
  }

  &::before {
    content: "";
    grid-area: track;
    border-radius: 50%;
    background: var(--thumb-color);
    box-shadow: 0 0 0 var(--highlight-size) var(--focus-ring);
    transition:
      transform var(--thumb-transition-duration) ease,
      box-shadow 0.25s ease;
    transform: translateX(var(--thumb-position));
    inline-size: var(--thumb-size);
    block-size: var(--thumb-size);
  }

  &:checked {
    --thumb-position: calc((var(--track-size) - 100%) * var(--isLTR));

    background-color: var(--track-active);
  }

  &:indeterminate {
    --thumb-position: calc(((var(--track-size) / 2) - (var(--thumb-size) / 2)) * var(--isLTR));
  }

  &:not(:disabled):hover {
    background-color: var(--track-inactive-hover);

    &:checked {
      background-color: var(--track-active-hover);
    }

    &::before {
      --highlight-size: 0.5rem;
    }
  }

  &:focus {
    --focus-size: 0.25rem;
  }

  &[data-orientation="vertical"] {
    transform: rotate(calc(90deg * var(--isLTR) * -1));
  }
}
