:root,
[data-theme="light"] {
  --body-blend-mode: plus-darker;
}

[data-theme="dark"] {
  --body-blend-mode: plus-lighter;
}

.body {
  mix-blend-mode: var(--body-blend-mode);
  container-name: body;
  container-type: inline-size;

  > section {
    grid-column: main;
  }
}
