.hero {
  --hero-font-size: 4.5rem;

  padding-block: var(--huge);
  text-align: center;

  h1 {
    max-width: 40rem;
    margin: 0 auto;
    font-size: var(--hero-font-size);
    line-height: 1.25;

    small {
      display: block;
      color: var(--text-subtle);
      font-weight: var(--font-weight-normal);
      font-size: var(--font-size-huge);
      line-height: var(--line-height-huge);
    }
  }

  p {
    max-width: 40rem;
    margin: var(--spacing) auto;
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
  }

  &__buttons {
    display: flex;
    gap: var(--spacing);
    justify-content: center;
    margin: 0 auto;
  }

  &__registrations-paused {
    max-width: 60ch;
    margin: var(--huge) auto 0;
    padding: var(--large);
    border: var(--border-width-standard) solid var(--border-info);
    border-radius: var(--border-radius-large);
    background-color: var(--background-info);
    color: var(--text-info);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
  }

  .countdown {
    margin: var(--huge) auto;
  }

  @media (width <= 480px) {
    --hero-font-size: 2.5rem;

    .hero__buttons {
      flex-direction: column;
      align-items: stretch;
      width: 100%;

      .button {
        width: auto;
      }
    }
  }
}
