:where(.segmented) {
  --segmented-selected-background: var(--accent2);
  --segmented-selected-foreground: var(--text-accent);

  display: flex;

  .button {
    border-color: var(--border-element);
    border-radius: var(--border-radius-round);
    font-weight: var(--font-weight-medium);

    &:not(:first-child) {
      margin-left: calc(var(--button-border-width) * -1);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &[aria-selected="true"] {
      position: relative;
      border-color: var(--border-element-accent);
      background: var(--segmented-selected-background);
      color: var(--segmented-selected-foreground);
    }
  }
}
