.footer {
  padding: var(--large) var(--horizontal-padding) var(--huge);
  border-top: 1px solid var(--border-subtle);
  background: linear-gradient(to bottom, var(--background-subtle), var(--background));
  color: var(--text-subtle);
  font-size: var(--font-size-small);
  line-height: 2;

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0;
      padding: 0;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
