.menuButton {
  g, path {
    transition: transform 0.5s var(--ease-squish-5);
    transform-origin: center;
  }

  &[aria-expanded="true"] {
    g {
      transform: rotate(225deg);
    }

    path {
      &:nth-child(1) {
        transform: translateY(7.25px);
      }

      &:nth-child(2) {
        transform: rotate(90deg);
      }

      &:nth-child(3) {
        transform: translateY(-7.25px) scale(0);
      }
    }
  }
}

.drawer {
  &[data-origin] {
    --drawer-padding-x: 2.75rem;
  }

  &::after {
    content: "";
    flex: 1;
  }

  [data-is-root-theme] {
    overflow: visible;
  }
}

.items {
  align-items: stretch;
  padding-inline: var(--space-2);
}

.sectionHeading {
  margin-bottom: var(--space-2);
  color: var(--gray-10);
  font-weight: normal;
  font-size: var(--font-size-2);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.close {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
}
