.registration__payment {
  padding-bottom: 3.5rem;
  line-height: var(--line-height-large);

  h2, h3 {
    margin: var(--large) 0;
    line-height: var(--line-height-huge);
  }

  h2 {
    font-size: var(--font-size-huge);
  }

  &__earlybird {
    p {
      color: var(--text-subtle);

      &:first-of-type {
        color: inherit;
      }
    }
  }

  &__general {
    .note {
      margin-top: var(--huge);
      color: var(--text-subtle);
    }
  }

  .registration__cart {
    dl {
      display: grid;
      grid-template-columns: 1fr auto;
      align-content: center;
      margin: 0;
      padding: 0;
    }

    dt,
    dd {
      margin: 0;
      padding: var(--tiny) 0;
      font-size: var(--font-size-legible);
      line-height: var(--line-height-large);
    }

    .di {
      display: contents;

      dt,
      dd {
        border-top: 1px solid var(--border-subtle);
      }

      &:last-child {
        font-weight: var(--font-weight-medium);
      }
    }

    dt {
      display: flex;
      gap: var(--tiny);
      align-items: center;

      .icon {
        --icon-size: 1rem;
      }
    }

    dd {
      text-align: right;
    }

    p {
      color: var(--text-subtle);
      font-size: var(--font-size-small);
      line-height: var(--line-height-small);
    }
  }

  .payment-methods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--large);
    margin-bottom: var(--large);
  }

  .payment-method {
    display: grid;
    grid-template:
      "radio label" auto
      "radio sub" auto / auto 1fr;
    gap: 0 var(--medium);
    padding: var(--medium);
    border: var(--border-width-standard) solid var(--border-element);
    border-radius: var(--border-radius-standard);
    line-height: 1.25;
    cursor: pointer;

    .radio {
      grid-area: radio;
      align-self: center;
    }

    .b {
      align-self: end;
      font-weight: var(--font-weight-medium);
    }

    small {
      align-self: start;
      color: var(--text-subtle);
      font-size: 100%;
    }

    &:hover {
      border-color: var(--border-hover);
      background: var(--background-hover);
    }

    &[aria-selected] {
      border-color: var(--border-element-accent);
      background: var(--background-element-accent);
    }
  }

  .stripe-checkout {
    &__error {
      display: grid;
      grid-template-columns: var(--icon-size) 1fr;
      gap: var(--medium);
      margin-bottom: var(--large);
      padding: var(--medium);
      border: var(--border-width-standard) solid var(--border-error);
      border-radius: var(--border-radius-standard);
      background: var(--background-error);
      color: var(--text-error);
      line-height: var(--line-height-medium);
    }
  }

  .internet-banking {
    &__account {
      display: grid;
      grid-template-columns: 12em 1fr auto;
      gap: 0 var(--large);
      align-items: start;
      width: max-content;
      margin-left: var(--large);

      dt, dd {
        margin: 0;
        padding: 0;
        font-size: var(--font-size-legible);
      }

      dt {
        grid-column: 1;
        color: var(--text-subtle);
        text-align: right;
      }
    }
  }

  @media (width > 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--large);

    &__earlybird,
    &__general {
      grid-column: 1 / span 2;
      padding-right: var(--large);
    }

    &__summary {
      padding-inline: var(--medium);
    }
  }
}

.discounts-explained {
  max-width: 16rem;
  padding: var(--medium);
  background: var(--background-info);
  line-height: var(--line-height-medium);

  p {
    margin: 0;
  }
}
