.main {
  --sidebar-width: 16rem;

  display: grid;
  grid-template: "description" "at-a-glance" "picture" "presenters" / 1fr;
  grid-column: main;
  gap: var(--space-4);

  @media (--sm) {
    grid-template: "description at-a-glance" "picture at-a-glance" "presenters at-a-glance" / 1fr var(--sidebar-width);
    gap: var(--space-8);
    align-items: start;
  }

  @media (--md) {
    --sidebar-width: 24rem;
  }
}

.description {
  grid-area: description;
}

.tagline {
  margin-bottom: var(--space-3);
}

.subsection {
  margin-block: var(--space-5);

  h3 {
    margin-bottom: var(--space-2);
  }
}

.picture {
  display: block;
  width: 100%;
  height: auto;
}

.atAGlance {
  grid-area: at-a-glance;

  :global(.rt-DataListLabel) {
    align-items: center;
    min-width: 0;

    :global(.rt-Skeleton) {
      border-radius: 50%;
    }
  }
}

.presenters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 24rem));
  gap: var(--space-4);
}

.cast {
  h4 {
    color: var(--gray-11);
    font-weight: var(--font-weight-normal);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  ul {
    margin: 0 0 var(--space-2);
    padding: 0;
    list-style: none;

    small {
      color: var(--gray-11);
      font-size: 100%;
    }
  }
}
