.activity-details {
  &__header {
    .header__title {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-small);
    }

    .presenters {
      font-size: var(--font-size-large);
      line-height: var(--line-height-large);
    }
  }

  &__content {
    display: grid;
    grid-template: "description aside" auto / 1fr 20rem;
    grid-column: main;
    padding-block: var(--spacing-large);
    column-gap: var(--spacing-large);
  }

  &__description {
    grid-area: description;
    font-size: var(--font-size-legible);
    line-height: var(--line-height-legible);
  }

  &__picture {
    border-radius: var(--radius-medium);
    margin-block-end: var(--spacing-large);
  }

  &__presenter {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    padding: var(--spacing-base);
    border-radius: var(--radius-medium);
    background-color: var(--background-subtle);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    column-gap: var(--spacing-base);
    margin-block-start: var(--spacing-base);
    margin-inline-start: calc(var(--spacing-base) * -2 - var(--avatar-xl));

    > :not(.avatar) {
      grid-column: 2;
    }

    .avatar {
      grid-row: 1 / span 2;
      grid-column: 1;

      &:has(img) {
        box-shadow: 0 0 0 var(--border-thin) var(--border-subtle);
      }
    }

    h3 {
      margin: 0 0 0.75em;
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-large);
      line-height: var(--line-height-large);
    }
  }

  &__aside {
    grid-area: aside;
    color: var(--text-subtle);

    dl {
      display: grid;
      grid-template-columns: var(--icon-medium) 1fr;
      row-gap: var(--spacing-small);
      align-items: center;
      margin: 0;
      padding: 0 0 0 var(--spacing-large);
      border-left: 1px solid var(--border-subtle);
      column-gap: var(--spacing-base);

      dt {
        grid-column: 1;
        margin: 0;
        padding: 0;
      }

      dd {
        grid-column: 2;
        margin: 0;
        padding: 0;
      }
    }

    @media (max-width: 40rem) {
      padding: var(--spacing-base);
      border-radius: var(--radius-medium);
      background: var(--background-subtle);

      dl {
        padding: 0;
        border: 0;
      }
    }
  }

  @media (max-width: 40rem) {
    &__content {
      grid-template: "aside" auto "description" auto / 1fr;
      row-gap: var(--spacing-large);
    }

    &__presenter {
      margin-inline-start: 0;
    }
  }
}
