.authentication {
  display: grid;
  grid-template: "form" 1fr / 1fr;
  min-height: 100vh;
  background: radial-gradient(
    circle at 25% 25%,
    var(--magenta-alpha-5) 0%,
    transparent 75%
  ),
    radial-gradient(
    circle at 75% 50%,
    var(--cyan-alpha-5) 0%,
    transparent 75%
  ),
    radial-gradient(
    circle at 50% 75%,
    var(--yellow-alpha-3) 0%,
    transparent 75%
  );
  background-blend-mode: var(--blend-mode);

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: form;
    justify-content: center;
    align-items: center;
    width: unset;
    max-width: unset;
    padding: var(--spacing-lg);
    background: var(--background-app);
    box-shadow: var(--shadow-2xl);
  }

  .logo {
    width: 8rem;
    margin-left: -1.25rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    max-width: 25rem;
    padding: var(--spacing-large);
  }

  fieldset {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-base);
    align-self: stretch;
    margin: 0;
    padding: 0;
    border: 0;
  }

  @media (width > 768px) {
    grid-template: "form blank" 1fr / 2fr 1fr;
  }

  @media (width > 1280px) {
    grid-template: "form blank" 1fr / 1fr 1fr;
  }
}

