.presenters {
  display: grid;
  row-gap: var(--spacing-large);
  margin-block: var(--spacing-large);
}

.presenterDetails {
  display: grid;
  grid-template: "picture name pronouns" auto "picture city city" auto "picture bio bio" auto "picture buttons buttons" auto / 10rem 2fr 1fr;
  gap: var(--spacing-medium);
  align-items: start;
}

.presenterName {
  grid-area: name;
}

.presenterPronouns {
  grid-area: pronouns;
}

.presenterBio {
  grid-area: bio;
  min-height: 6rem;
  max-height: 10rem;
  resize: vertical;
}

.presenterPicture {
  grid-area: picture;
}

.presenterCity {
  grid-area: city;
}

.presenterButtons {
  grid-area: buttons;
}
