.presenters {
  display: grid;
  row-gap: var(--spacing-large);
  margin-block: var(--spacing-large);

  .presenter-details {
    display: grid;
    grid-template: "picture name pronouns" auto "picture city city" auto "picture bio bio" auto "picture buttons buttons" auto / 10rem 2fr 1fr;
    gap: var(--spacing-medium);
    align-items: start;

    &__name {
      grid-area: name;
    }

    &__pronouns {
      grid-area: pronouns;
    }

    &__bio {
      grid-area: bio;
      min-height: 6rem;
      max-height: 10rem;
      resize: vertical;
    }

    &__picture {
      grid-area: picture;
    }

    &__city {
      grid-area: city;
    }

    &__buttons {
      grid-area: buttons;
    }
  }
}

.presenter-search {
  &__input {
    .mantine-Loader-root {
      --loader-color: var(--border-element);
    }
  }

  &__option {
    .mantine-Combobox-option & {
      flex-wrap: nowrap;
    }

    .icon {
      flex: 0 0 var(--icon-medium);
      color: inherit;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

