:root {
  --avatar-size-small: 1.5rem;
  --avatar-size-medium: 2.5rem;
  --avatar-size-large: 3.5rem;
}

:where(.avatar) {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  overflow: hidden;
  border-radius: 50%;
  color: var(--text-subtle);
  aspect-ratio: 1;

  > .icon,
  > img {
    width: 100%;
    height: auto;
  }

  :where(.avatar__initials) {
    display: grid;
    place-items: center;
    overflow: hidden;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    background-color: var(--cyanA6);
    color: var(--cyan11);
    font-weight: var(--font-weight-medium);
    font-size: calc(var(--avatar-size) / 3);
    line-height: 1;
    letter-spacing: 0.1em;
  }

  &:where([data-size="small"]) {
    --avatar-size: var(--avatar-size-small);
  }

  &:where([data-size="medium"]) {
    --avatar-size: var(--avatar-size-medium);
  }

  &:where([data-size="large"]) {
    --avatar-size: var(--avatar-size-large);
  }
}
