@custom-media --motion-ok (prefers-reduced-motion: no-preference);

.header {
  --max-header-width: 75rem;

  display: grid;
  grid-template:
    "dates dates" auto
    "logo user" auto;
  grid-template-columns: auto auto;
  gap: var(--large);
  align-items: center;
  padding-inline: max(var(--large), calc(50vw - var(--max-header-width) / 2));
  padding-block: var(--large);
  border-bottom: 1px solid var(--border-subtle);
  transition: border-color 0.5s var(--ease-3);

  @media screen and (width >= 1025px) {
    grid-template: "logo dates user" auto;
    grid-template-columns: 1fr auto 1fr;
  }

  &__dates {
    grid-area: dates;
    justify-self: center;
    color: var(--text-subtle);
    text-align: center;
  }

  &__logo {
    grid-area: logo;
    justify-self: start;
    color: var(--accent11);
    font-size: 1.5rem;
    font-variation-settings: "wdth" 125, 'wght' 900;
  }

  &__user {
    display: flex;
    grid-area: user;
    gap: var(--small);
    align-items: center;
    justify-self: end;

    .button {
      display: flex;
      gap: var(--small);
      align-items: center;
      padding: var(--small);
      border: 0;
      border-radius: var(--huge);
      background-color: transparent;
      color: var(--text-subtle);
      font: inherit;
      cursor: pointer;

      &__text {
        padding: 0 var(--small);
      }

      &:hover {
        background-color: var(--background-hover);
        color: var(--text);
      }

      svg {
        stroke: currentcolor;
      }
    }
  }

  button {
    &:focus-visible {
      outline: 0.125rem solid var(--accent11);
    }
  }
}

.theme-switch {
  --transition-duration: .5s;

  display: flex;
  align-items: center;
  padding: var(--small);
  border: 0;
  border-radius: 50%;
  background: transparent;
  color: var(--text-subtle);
  box-shadow: none;
  cursor: pointer;
  appearance: none;

  @media (--motion-ok) {
    .sun {
      transition: transform var(--transition-duration) var(--ease-elastic-3);
    }

    .sun-beams {
      transition: transform var(--transition-duration) var(--ease-elastic-4),
        opacity var(--transition-duration) var(--ease-3);
    }

    .moon circle {
      transition: transform .25s var(--ease-out-5);

      @supports (cx: 1) {
        transition: cx .25s var(--ease-out-5);
      }
    }
  }

  &:hover {
    color: var(--text);
  }

  .sun-beams {
    stroke: currentcolor;
    stroke-width: 2px;
    stroke-linecap: round;

    .theme-toggle:is(:hover, :focus-visible) & {
      stroke: currentcolor;
    }
  }

  [data-theme="dark"] & {
    @media (--motion-ok) {
      .sun-beams {
        transition-duration: .15s;
        transform: rotateZ(-25deg);
      }

      .moon circle {
        transition-delay: .25s;
        transition-duration: var(--transition-duration);
      }
    }

    .sun {
      transform: scale(1.75);

      @media (--motion-ok) {
        transition-timing-function: var(--ease-3);
        transition-duration: .25s;
        transform: scale(1.75)
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .sun-beams {
      opacity: 0;
    }

    .moon circle {
      transform: translateX(-7px);

      @supports (cx: 1) {
        transform: translateX(0);
        cx: 17;
      }
    }
  }

  :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
  }

  :is(.moon, .sun) {
    fill: currentcolor;

    .theme-toggle:is(:hover, :focus-visible) > & {
      fill: currentcolor;
    }
  }
}
