
.payment {
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr;
  row-gap: var(--space-6);
  justify-content: space-between;
  align-items: stretch;
  align-self: stretch;
  overflow-y: auto;
  min-height: 0;
  padding-bottom: 0;

  :global(.buttons) {
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding-block: var(--space-4);
  }

  .paymentTable {
    margin: 0 auto;
  }

  .donateMyDiscount {
    --card-background-color: var(--gray-a2);

    display: grid;
    grid-template: "checkbox heading" auto ". description" auto / auto 1fr;
    align-items: center;
    margin-top: var(--space-2);
    padding: var(--space-2);
    column-gap: var(--space-2);

    &::after {
      display: none;
    }
  }

  .methods {
    .methodHeader {
      position: relative;
    }

    .methodCheckbox {
      position: absolute;
      top: var(--space-3);
      right: var(--space-3);
      pointer-events: none;

    }
  }

  @media (--md) {
    padding-top: 9rem;
  }
}
