<div style="margin: 0 0 1.5rem">
  <div style="font-size: 1.125rem"><%= removed.activity.name %></div>
  <div class="subtle">
    <%= l removed.starts_at, format: :friendly %> – <%= l removed.ends_at, format: :short %> in
    <%= removed.venue.room %>
  </div>
</div>
