:where(.breadcrumbs) {
  display: flex;
  align-items: center;
  font-size: var(--font-size-small);

  a {
    color: var(--text-subtle);
    text-decoration: none;

    &:hover {
      color: var(--text-accent);
    }
  }

  .icon {
    color: var(--neutral6);
  }
}
