.card {
  display: grid;
  grid-template: "picture" auto "content" 1fr / 1fr;
  align-self: stretch;
  border-radius: var(--radius-small);
  color: inherit;
  box-shadow: var(--shadow-medium), inset 0 0 0 1px var(--border-subtle);
  text-decoration: none;

  &__picture {
    display: grid;
    grid-area: picture;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    aspect-ratio: 16 / 9;
    mix-blend-mode: var(--blend-mode);
  }

  &__content {
    padding: var(--spacing-small) var(--spacing-base) var(--spacing-base);
  }

  &__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
    line-height: 1.5rem;
  }

  &__description {
    color: var(--text-subtle);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-tiny);

    .tag + .tag {
      margin-left: unset;
    }
  }
}
