.city-picker {
  --city-picker-height: 4.125rem;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-small);

  &__option {
    display: grid;
    flex: 1;
    grid-template: "icon name" auto "icon country" auto / var(--icon-medium) 1fr;
    height: auto;
    padding-inline: 0.0625rem;
    column-gap: 0.5625rem;

    .icon {
      grid-area: icon;
      align-self: start;
      color: inherit;
      margin-block-start: 0.125rem;
    }

    small {
      font-size: inherit;
    }
  }

  &__selected {
    display: flex;
    height: auto;

    .mantine-Input-input {
      display: flex;
      flex: 1;
      gap: var(--spacing-medium);
      align-items: center;
      padding: var(--spacing-small);
    }
  }

  &:not(:has(.city-picker__country)) {
    .city-picker__city {
      .mantine-Input-section {
        align-items: start;
        padding-top: 0.625rem;
      }

      .mantine-Input-input {
        height: var(--city-picker-height);
        padding-bottom: 1.5rem;
      }
    }
  }
}
