.header {
  --header-min-height: 15rem;
  --header-height: var(--header-min-height);
  --header-title-font-size: 2rem;

  /* --header-title-font-size: clamp(2rem, 8cqw, 3rem); */
  --header-title-line-height: 1.2;

  position: relative;
  z-index: var(--z-index-header);
  display: grid;
  grid-template-rows: max(var(--header-height), max-content);
  grid-template-columns: subgrid;
  grid-column: full-bleed;
  min-height: var(--header-min-height);
  padding-top: var(--spacing-large);
  border-bottom: var(--border-thin) solid var(--border-subtle);
  background: var(--background-app);
  transition: var(--theme-transition);

  &:has(.mantine-Tabs-root) {
    position: sticky;
    top: calc(1.5rem - var(--header-height));
  }

  > .container {
    display: grid;
    grid-template-rows: [all-start top-start] 1fr [top-end title-start] auto [title-end bottom-start] auto [bottom-end all-end];
    grid-template-columns: 1fr;
    grid-column: main;
    gap: 0;
  }

  &__top-outer {
    grid-row: top;
  }

  &__top {
    position: sticky;
    top: var(--spacing-small);
    display: grid;
    grid-template: "breadcrumbs actions" auto / auto auto;
    gap: var(--spacing-large);
    align-items: center;
    min-height: 2.5rem;
  }

  &__bottom-outer {
    grid-row: bottom;
    min-width: 100%;
    margin-bottom: calc(var(--border-thin) * -1);
  }

  &__bottom {
    min-width: 100%;
  }

  &__actions {
    grid-area: actions;
    justify-self: end;
  }

  &__title {
    grid-row: title;
    margin-bottom: var(--spacing-base);
    container-type: inline-size;

    h1 {
      margin: 0;
      font-weight: var(--font-weight-medium);
      font-size: var(--header-title-size);
      line-height: var(--header-title-line-height);
    }
  }

  &__breadcrumbs {
    grid-area: breadcrumbs;
    mix-blend-mode: var(--blend-mode);
  }

  &__background {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--background-solid);
    opacity: 0.25;
    transition: var(--theme-transition);

    &.blurrable-image {
      position: absolute;
    }

    .blurrable-image__blurred,
    .blurrable-image__image {
      filter: grayscale(100%) contrast(200%);
      mix-blend-mode: var(--header-image-blend-mode);
    }
  }

  .mantine-Skeleton-root {
    mix-blend-mode: var(--blend-mode);
  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
  align-items: center;

  a {
    color: var(--text-subtle);
    text-decoration: none;

    &:hover {
      color: var(--text-default);
    }
  }

  .icon {
    color: var(--border-element);
  }
}
