.activity-list {
  &__day {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full-bleed;

    &-header {
      position: sticky;
      top: 0;
      z-index: var(--z-index-sticky);
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full-bleed;
      padding: var(--spacing-large) 0 var(--spacing-small);
      background-color: var(--background-translucent);
      backdrop-filter: blur(6px);
    }
  }

  &__date,
  &__time {
    grid-row: 1;
    grid-column: main;
    align-self: baseline;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }

  &__time {
    justify-self: end;
    color: var(--text-subtle);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
  }

  &__activities {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-column: main;
    grid-gap: var(--spacing-base);
    padding-block: var(--spacing-base);
  }
}

.activity-card {
  margin: 0;
  padding: 0;
  border: 0;
  background: var(--background-subtle);
  transform: translate3d(0, 0, 0);

  .card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-tiny);

    &::after {
      content: '';
      flex: 1;
    }
  }

  &[data-loading="true"] {
    .card__picture {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      mix-blend-mode: var(--blend-mode);
    }
  }

  .card__tags {
    order: 1;
  }
}
