.activity-list {
  &__day {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full-bleed;

    &-header {
      position: sticky;
      top: 0;
      z-index: var(--z-index-sticky);
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full-bleed;
      padding: var(--spacing-large) 0 var(--spacing-small);
      background-color: var(--background-translucent);
      backdrop-filter: blur(6px);
    }
  }

  &__date,
  &__time {
    grid-row: 1;
    grid-column: main;
    align-self: baseline;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }

  &__time {
    justify-self: end;
    color: var(--text-subtle);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
  }

  &__activities {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-column: main;
    grid-gap: var(--spacing-base);
    padding-block: var(--spacing-base);
  }
}

.activity-card {
  display: grid;
  grid-template:
    "picture" auto
    "title" auto
    "presenters" auto
    / 1fr;
  overflow: hidden;

  .card__picture {
    display: grid;
    grid-area: picture;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    aspect-ratio: 16 / 9;
    mix-blend-mode: var(--blend-mode);
  }

  .card__title {
    padding: var(--spacing-small) var(--spacing-base);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-large);
    line-height: 1.5rem;
  }
}
