.authentication {
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  background: var(--accent2);
  color: var(--text);

  &__form {
    display: grid;
    gap: var(--spacing);
    justify-items: stretch;
    width: 24rem;
    max-width: calc(100vw - var(--large) * 2);
    text-align: center;

    > * {
      margin: 0;
    }

    fieldset {
      display: contents;
    }

    h2 {
      font-size: var(--font-size-huge);
      line-height: var(--line-height-huge);
    }

    .input,
    .input-group {
      --input-border: var(--text);
      --input-background: transparent;
      --text-subtle: var(--text);
      --input-hover: var(--text);
      --input-focus: var(--text);

      color: inherit;
    }

    .button {
      &[data-variant="inline"] {
        color: var(--accent11);
        text-decoration: underline;
        text-decoration-color: var(--accentA6);
      }

      &:not([data-variant="inline"]) {
        text-transform: uppercase;
        font-variation-settings: var(--wide);
      }
    }
  }

  .divider {
    display: flex;
    gap: var(--small);
    align-items: center;
    font-size: 0.875rem;
    text-transform: uppercase;

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-top: 1px solid var(--text);
      opacity: 0.5;
    }
  }

  .oauth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing);
  }
}
