.authentication {
  --text: var(--accent1);

  display: grid;
  place-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  background: linear-gradient(45deg, var(--accent6), var(--accent9));
  color: var(--text);

  &__form {
    display: grid;
    gap: var(--spacing);
    justify-items: stretch;
    width: 24rem;
    max-width: calc(100vw - var(--large) * 2);
    text-align: center;

    > * {
      margin: 0;
    }

    h2 {
      font-size: 3rem;
      line-height: 1.25;
      text-transform: lowercase;
    }

    .input,
    .input-group {
      --input-border: var(--text);
      --input-background: transparent;
      --text-subtle: var(--text);
      --input-hover: var(--text);
      --input-focus: var(--text);

      color: inherit;
    }

    .button {
      &[data-variant="inline"] {
        color: var(--text);
        text-decoration: underline;
      }

      &:not([data-variant="inline"]) {
        --button-text: var(--text);
        --button-border-color: var(--text);
        --button-hover-background: var(--text);

        text-transform: uppercase;
        font-variation-settings: var(--wide);
      }

      &[data-variant="primary"] {
        --button-background: var(--text);
        --button-text: var(--accent12);
        --button-border-width: 0px;
        --button-hover-background: var(--text);
        --button-active-background: var(--text);
      }
    }
  }

  .divider {
    display: flex;
    gap: var(--small);
    align-items: center;
    font-size: 0.875rem;
    text-transform: uppercase;

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-top: 1px solid var(--text);
      opacity: 0.5;
    }
  }

  .oauth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing);
  }
}
