.button {
  --button-focus-width: 0px;
  --button-border-width: 0px;
  --button-border-color: transparent;
  --button-background: transparent;
  --button-text: var(--text);
  --button-icon: var(--icon);
  --button-border-radius: var(--radius-small);
  --button-padding-block: var(--padding-button-medium-vertical);
  --button-padding-inline: var(--padding-button-medium-horizontal);
  --button-line-height: var(--line-height-medium);
  --button-font-size: var(--font-size-medium);

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(var(--button-padding-inline) * 2 + 1lh);
  min-height: calc(var(--button-padding-block) * 2 + 1lh);
  padding: var(--button-padding-block) var(--button-padding-inline);
  border: 0;
  border-radius: var(--button-border-radius);
  background: var(--button-background);
  color: var(--button-text);
  box-shadow: inset 0 0 0 var(--button-border-width) var(--button-border-color), 0 0 0 var(--button-focus-width) var(--focus-ring);
  outline: none;
  font: inherit;
  font-weight: var(--font-weight-medium);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: all var(--speed-standard) var(--ease-standard);

  &__content {
    display: flex;
    align-items: center;
    padding-inline: var(--button-padding-inline);

    &:empty {
      display: none;
    }
  }

  &:has(.button__content:empty),
  &:has(>.icon:only-child) {
    border-radius: var(--radius-round);
  }

  &[data-variant="solid"] {
    --button-background: var(--button-solid-fill);
    --button-text: var(--button-solid-text);
    --button-icon: var(--button-solid-icon);

    &:hover,
    &:active {
      --button-background: var(--button-solid-hover-fill);
    }
  }

  &[data-variant="outline"] {
    --button-border-width: var(--border-thin);
    --button-border-color: var(--button-outline-border);
    --button-text: var(--button-outline-text);
    --button-icon: var(--button-outline-icon);

    &:hover,
    &:active {
      --button-border-color: var(--button-outline-hover-border);
      --button-background: var(--button-outline-hover-fill);
    }
  }

  &[data-variant="ghost"] {
    --button-text: var(--button-ghost-text);
    --button-icon: var(--button-ghost-icon);

    &:hover,
    &:active {
      --button-border-color: var(--button-outline-hover-border);
      --button-background: var(--button-outline-hover-fill);
    }
  }

  &[data-variant="close"] {
    --button-text: var(--text-subtle);

    opacity: 0.75;

    &:hover,
    &:active {
      opacity: 1;
    }
  }

  &[data-size="small"] {
    --button-padding-block: var(--padding-button-small-vertical);
    --button-padding-inline: var(--padding-button-small-horizontal);
  }

  &[data-size="large"] {
    --button-padding-block: var(--padding-button-large-vertical);
    --button-padding-inline: var(--padding-button-large-horizontal);
  }

  &:focus {
    --button-focus-width: 0.25rem;
  }

  .icon {
    color: var(--button-icon);
  }
}
