.data-table {
  width: 100%;
  border-spacing: 0;

  th, td {
    vertical-align: middle;
    margin: 0;
    padding: var(--small) var(--spacing);
    border-collapse: collapse;
    border-bottom: var(--border-width-standard) solid var(--border-subtle);
    text-align: left;
    white-space: nowrap;

    &:first-child {
      position: sticky;
      left: 0;
      padding-inline: var(--large);
      background: linear-gradient(to left, transparent, var(--background) var(--spacing));
    }

    &[data-column="name"] {
      font-weight: var(--font-weight-medium);
    }

    &[data-column="time"] {
      text-align: right;
    }

    .button {
      margin-inline: calc(var(--button-padding-inline) * -1);
      font-weight: var(--font-weight-medium);
    }

    .presenter {
      --button-background: var(--neutral3);
      --button-hover-background: var(--neutral4);

      gap: var(--tiny);
      margin: 0;
      color: var(--text);
      font-weight: var(--font-weight-normal);
      padding-inline-start: 0;
    }
  }

  thead {
    tr {
      th {
        border-bottom: var(--border-width-standard) solid var(--border-element);
        color: var(--text-subtle);
        font-weight: var(--font-weight-medium);
      }

      .button {
        --button-text: var(--text-subtle);
        --button-text-hover: var(--text);

        justify-content: space-between;
        width: calc(100% + var(--button-padding-inline) * 2);
        margin-inline: calc(var(--button-padding-inline) * -1);

        &__text {
          text-align: left;
        }

        path {
          opacity: 0.25;
        }

        &[data-sort="asc"] path:first-child,
        &[data-sort="desc"] path:last-child {
          opacity: 1;
        }
      }

      &:not(:last-child) {
        display: none;
      }
    }
  }

  &__container {
    overflow-x: auto;
    width: calc(100% + var(--large) * 2);
    margin-inline: calc(var(--large) * -1);
    margin-block: var(--large);
  }
}
