:where(.radio, .checkbox) {
  --focus-scale: 0;
  --input-outline: var(--input-inactive);

  position: relative;
  display: grid;
  grid: [row] 1fr / [col] 1fr;
  place-items: stretch;
  width: var(--icon-size);
  height: var(--icon-size);

  :where(input, .icon) {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
    padding: 0;
  }

  :where(input) {
    position: relative;
    order: 1;
    cursor: pointer;
    appearance: none;

    &::before {
      content: "";
      position: absolute;
      inset: -0.5rem;
      z-index: -1;
      border-radius: 50%;
      background: var(--highlight);
      transition: transform var(--timing-slow) var(--ease-squish-4);
      transform: scale(var(--focus-scale));
    }

    &:where(:disabled, [aria-disabled="true"]) {
      cursor: not-allowed;

      + :where(.icon) {
        opacity: var(--disabled-opacity);
      }
    }
  }

  :where(.icon) {
    pointer-events: none;
    transition: opacity var(--timing-standard) var(--ease-standard);
  }

  :where(circle) {
    fill: var(--background);
    stroke: var(--input-outline);
  }

  :where(path) {
    fill: var(--accent1);
    stroke: none;
    transition: transform var(--timing-slow) var(--ease-squish-4);
    transform: scale(0);
    transform-origin: center;
  }

  :where(:checked ~ .icon) {
    --input-outline: var(--input-active);

    :where(circle) {
      fill: var(--input-active);
    }

    :where(path) {
      transform: scale(1);
    }
  }

  :where(:hover, :focus-visible, :active):where(:not(:disabled, [aria-disabled="true"])) {
    --focus-scale: 1;
    --input-outline: var(--input-active);

    outline: none;

    ~ .icon {
      --input-outline: var(--input-active);
    }
  }
}
