:where(body) {
  --loading-background: var(--neutralA5);
}

.search {
  position: relative;
  width: var(--huge);
  height: var(--huge);

  &__input {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: var(--huge);
    outline: 0 solid var(--focus);
    transition: outline-width 0.2s var(--ease-standard);

    .button {
      flex-shrink: 0;

      &:hover {
        background-color: var(--neutral4);
      }
    }

    input {
      flex: 1;
      min-width: 0;
      padding: 0;
      border: 0;
      background: transparent;
      font: inherit;
      appearance: none;

      &::placeholder {
        color: var(--text-subtle);
        opacity: var(--placeholder-opacity);
      }

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }

      &:focus {
        outline: none;
      }
    }

    &:focus-within {
      outline-width: var(--focus-width);
    }

    &[aria-expanded="true"],
    &[data-collapsing="true"],
    &:hover {
      z-index: var(--z-index-search);
      background-color: var(--background-hover)
    }
  }

  &__results {
    z-index: calc(var(--z-index-search) + 1);
    overflow-y: auto;
    padding: var(--small);
    border: 1px solid var(--border-subtle);
    border-radius: var(--border-radius-large);
    background-color: var(--background-subtle);
    box-shadow: var(--shadow-6);
  }

  &__empty {
    margin: var(--large);
    color: var(--text-subtle);
    text-align: center;
  }

  &__result {
    display: grid;
    grid-template-columns: var(--icon-size) 1fr auto;
    gap: var(--spacing);
    align-items: center;
    width: 100%;
    min-width: 0;
    padding: var(--small) var(--spacing);
    border: 0;
    border-radius: var(--border-radius-standard);
    background-color: transparent;
    color: var(--text-subtle);
    box-shadow: none;
    font: inherit;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    text-align: left;
    appearance: none;

    &__text {
      grid-column: 2;
      min-width: 0;
    }

    &__title,
    &__description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:empty {
        display: flex;
        align-items: center;
        height: 1.5rem;
      }
    }

    &[aria-busy="true"] {
      .search__result__title,
      .search__result__description {
        &::before {
          content: "";
          width: 60%;
          height: var(--font-size-medium);
          border-radius: var(--border-radius-standard);
          background: var(--loading-background);
        }
      }

      .search__result__description {
        &::before {
          width: 80%;
          height: var(--font-size-small);
        }
      }

      .icon--skeleton {
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: 50%;
        background-color: var(--loading-background);
      }
    }

    &__title {
      color: var(--text);
    }

    &__description {
      font-size: var(--font-size-small);

      &:empty {
        &::before {
          width: 80%;
          height: var(--font-size-small);
        }
      }
    }

    .return-key {
      color: var(--accent9);
      opacity: 0;
    }

    &[aria-selected="true"] {
      background-color: var(--accent5);
      color: var(--accent12);
      cursor: pointer;

      .return-key {
        opacity: 1;
      }
    }
  }
}
