.profile-picture {
  --profile-picture-size: 8rem;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
  overflow: hidden;
  width: var(--profile-picture-size);
  height: var(--profile-picture-size);
  border: var(--border-width-standard) solid var(--border-element);
  border-radius: 50%;
  background-color: var(--background-element);
  cursor: pointer;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity var(--timing-standard) var(--ease-standard);
  }

  input {
    align-self: stretch;
    justify-self: stretch;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
  }

  &:hover {
    background-color: var(--background-hover);

    img {
      opacity: 0.25;
    }
  }
}

.settings {
  .labelled {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--small) var(--spacing);

    .labelled__field {
      display: contents;
    }

    .switch {
      grid-row: 1;
      grid-column: 2;
      align-self: center;
    }

    label,
    p {
      grid-column: 1;
      margin: 0;
    }

    label {
      grid-row: 1;
    }
  }
}

.admin-person {
  .registration-summary {
    section {
      margin: 0 0 var(--medium);
    }

    ol {
      margin: 0;
      padding: 0;
      list-style-type: none;
      line-height: var(--line-height-medium);
      counter-reset: position;

      li {
        --counter-background: var(--accent10);

        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--small);
        align-items: start;
        margin: 0 0 var(--small);
        counter-increment: position;

        &::before {
          content: counter(position);
          width: var(--line-height-medium);
          height: var(--line-height-medium);
          border-radius: var(--border-radius-round);
          background-color: var(--counter-background);
          color: var(--text-secondary);
          color: var(--background);
          font-weight: var(--font-weight-medium);
          text-align: center;
        }

        + li {
          --counter-background: var(--accent8);

          + li {
            --counter-background: var(--accent6);

            + li {
              --counter-background: var(--accent5);
            }
          }
        }
      }
    }
  }
}
