.edit-user {
  fieldset {
    display: flex;
    flex-direction: column;
    padding: 0 0 var(--huge);
    border: 0;

    label {
      color: var(--text-subtle);
      font-weight: var(--font-weight-medium);
      line-height: var(--huge);

      &:not(:first-child) {
        margin-top: var(--large);
      }

      &[data-required] {
        &::after {
          content: " ✻";
          color: var(--accent9);
        }
      }
    }
  }

  .error-message {
    line-height: var(--huge);
  }
}
