.in-place-edit {
  --input-padding-inline: var(--input-padding-block);

  margin: calc(var(--input-padding-block) * -1) calc(var(--input-padding-inline) * -1);
  background-color: var(--neutralA3);
  font: inherit;

  &__wrapper {
    display: flex;
    gap: var(--spacing);
    align-items: center;
    max-width: 100%;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);

    &:hover {
      .in-place-edit__toggle {
        opacity: 1;
      }
    }
  }

  &__toggle {
    margin: calc(var(--button-padding-block) * -1);
    opacity: 0;
    transition: opacity var(--transition-duration) ease-in-out;

    &:focus {
      opacity: 1;
    }
  }

  &__value {
    flex: 0 1 auto;
    min-width: 1px;
  }

  &[data-saving] {
    opacity: 0.5;
    pointer-events: none;
  }
}
