.mantine-Drawer {
  &-root {
    --drawer-padding-inline: var(--spacing-base);
    --drawer-padding-block: var(--spacing-base);
    --drawer-size-xs: 320px;
    --drawer-size-sm: 380px;
    --drawer-size-md: 440px;
    --drawer-size-lg: 620px;
    --drawer-size-xl: 780px;
    --drawer-size: var(--drawer-size-md);
    --drawer-offset: 0px;
  }

  &-header {
    z-index: 1000;
  }

  &-content {
    display: block;
    flex: var(--drawer-flex, 0 0 var(--drawer-size));
    overflow-y: auto;
    max-width: 100%;
    height: var(--drawer-height, calc(100% - var(--drawer-offset) * 2));
    max-height: 100%;
    margin: var(--drawer-offset);
    background-color: var(--background-app);
    outline: 0;
    text-decoration: none;
    opacity: 1;
    pointer-events: auto;
    transition-timing-function: ease;
    transition-duration: 250ms;
    transition-property: transform, opacity;
    transform: translateX(0);
    transform-origin: right center;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }

  &-body {
    padding: var(--drawer-padding-block) var(--drawer-padding-inline);
  }

  &-inner {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: var(--mb-z-index, 200);
    display: flex;
    justify-content: var(--drawer-justify, flex-start);
    align-items: var(--drawer-align, flex-start);
    width: 100%;
    pointer-events: none;
  }
}

.drawer {
  &__header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    gap: var(--spacing-base);
    justify-content: space-between;
    align-items: start;
    padding: var(--drawer-padding-block) var(--drawer-padding-inline) calc(var(--drawer-padding-block) / 2);
    background: inherit;

    + .drawer__body {
      padding-top: calc(var(--drawer-padding-block) / 2);
    }

    h2 {
      margin-block: calc((2.5rem - 1lh) / 2);
      font-size: var(--font-size-large);
    }
  }
}
