.editor {
  --editor-padding-block: var(--spacing-medium);
  --editor-padding-inline: var(--spacing-large);

  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: var(--spacing-small);
  color: var(--text-default);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);

  &__toolbar {
    display: flex;
    gap: var(--spacing-small);
    align-items: center;

    .mantine-ActionIcon-root {
      --radius-round: var(--radius-small);

      &[aria-pressed="true"] {
        --button-background: var(--button-background-hover);
      }
    }
  }

  &__inner {
    position: relative;
    background: var(--background-input);
  }

  &__input {
    position: relative;
    min-height: 16rem;
    padding: var(--editor-padding-block) var(--editor-padding-inline);
    border: 1px solid var(--border-input);
    border-radius: var(--radius-small);
    outline: 0;
    tab-size: 4;
    resize: none;
    caret-color: var(--text-default);
  }

  &__placeholder {
    position: absolute;
    top: var(--editor-padding-block);
    left: var(--editor-padding-inline);
    overflow: hidden;
    color: var(--text-subtle);
    pointer-events: none;
    user-select: none;
  }
}

.other h2 {
  margin-bottom: 7px;
  color: #444;
  font-size: 18px;
}

.other a {
  color: #777;
  font-size: 14px;
  text-decoration: underline;
}

.other ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 24px;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-container {
}

.editor-inner {
  position: relative;
  background: #fff;
}

.editor-input {
  position: relative;
  min-height: 150px;
  padding: 15px 10px;
  outline: 0;
  font-size: 15px;
  tab-size: 1;
  resize: none;
  caret-color: rgb(5 5 5);
  caret-color: #444;
}


.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  padding: 1px 0.25rem;
  background-color: rgb(240 242 245);
  font-size: 94%;
  font-family: Menlo, Consolas, Monaco, monospace;
}

.editor-link {
  color: rgb(33 111 219);
  text-decoration: none;
}

.tree-view-output {
  position: relative;
  display: block;
  overflow: auto;
  max-height: 250px;
  margin: 1px auto 10px;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #222;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  white-space: pre-wrap;
}

.editor-code {
  position: relative;
  display: block;

  /* white-space: pre; */
  overflow-x: auto;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 8px 8px 52px;
  background-color: rgb(240 242 245);
  font-size: 13px;
  font-family: Menlo, Consolas, Monaco, monospace;
  line-height: 1.53;
  tab-size: 2;

  &::before {
    content: attr(data-gutter);
    position: absolute;
    top: 0;
    left: 0;
    min-width: 25px;
    padding: 8px;
    border-right: 1px solid #ccc;
    background-color: #eee;
    color: #777;
    text-align: right;
    white-space: pre-wrap;
  }

  &::after {
    content: attr(data-highlight-language);
    position: absolute;
    top: 0;
    right: 3px;
    padding: 3px;
    color: rgb(0 0 0 / 0.5);
    font-size: 10px;
    text-transform: uppercase;
  }
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-paragraph {
  position: relative;
  margin: 0;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.editor-heading-h1 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  color: rgb(5 5 5);
  font-weight: 400;
  font-size: 24px;
}

.editor-heading-h2 {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  color: rgb(101 103 107);
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  padding-left: 16px;
  border-left: 4px solid rgb(206 208 212);
  color: rgb(101 103 107);
  font-size: 15px;
}

.editor-list-ol {
  margin: 0;
  margin-left: 16px;
  padding: 0;
}

.editor-list-ul {
  margin: 0;
  margin-left: 16px;
  padding: 0;
}

.editor-listitem {
  margin: 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.debug-timetravel-panel {
  display: flex;
  overflow: hidden;
  margin: auto;
  padding: 0 0 10px;
}

.debug-timetravel-panel-slider {
  flex: 8;
  padding: 0;
}

.debug-timetravel-panel-button {
  flex: 1;
  padding: 0;
  border: 0;
  background: none;
  color: #fff;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }
}

.debug-timetravel-button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: 0;
  background: none;
  color: #fff;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }
}

.toolbar {
  display: flex;
  vertical-align: middle;
  margin-bottom: 1px;
  padding: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #fff;

  & button.toolbar-item {
    display: flex;
    vertical-align: middle;
    padding: 8px;
    border: 0;
    border-radius: 10px;
    background: none;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }

    &.spaced {
      margin-right: 2px;
    }

    & i.format {
      display: inline-block;
      display: flex;
      vertical-align: -0.25em;
      width: 18px;
      height: 18px;
      margin-top: 2px;
      background-size: contain;
      opacity: 0.6;
    }

    &:disabled i.format {
      opacity: 0.2;
    }

    &.active {
      background-color: rgb(223 232 250 / 0.3);

      & i {
        opacity: 1;
      }
    }
  }

  & .toolbar-item:hover:not([disabled]) {
    background-color: #eee;
  }

  & .divider {
    width: 1px;
    margin: 0 4px;
    background-color: #eee;
  }

  & .toolbar-item .text {
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    width: 200px;
    width: 70px;
    height: 20px;
    color: #777;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    text-overflow: ellipsis;
  }

  & .toolbar-item .icon {
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-size: contain;
    line-height: 16px;
    user-select: none;
  }
}
