.header {
  --header-min-height: 15rem;
  --header-height: var(--header-min-height);

  position: relative;
  z-index: var(--z-index-header);
  display: grid;
  justify-items: center;
  min-height: var(--header-min-height);
  padding-top: var(--spacing-large);
  border-bottom: var(--border-thin) solid var(--border-subtle);
  background: var(--background-app);
  container-type: inline-sizing;

  &:has(.mantine-Tabs-root) {
    position: sticky;
    top: calc(1.5rem - var(--header-height));
  }

  > .container {
    display: grid;
    grid-template:
      "top" 1fr
      "title" auto
      "bottom" auto / auto auto;
    grid-template-columns: 1fr;
    gap: 0;
  }

  &__top-outer {
    grid-area: top;
  }

  &__top {
    position: sticky;
    top: var(--spacing-small);
    display: grid;
    grid-template: "breadcrumbs actions" auto / auto auto;
    gap: var(--spacing-large);
    align-items: center;
    min-height: 2.5rem;
  }

  &__middle {
    grid-area: middle;
    margin-bottom: var(--spacing-base);
  }

  &__bottom-outer {
    grid-area: bottom;
    margin-inline: calc(var(--container-padding-horizontal) * -1);
    margin-bottom: calc(var(--border-thin) * -1);
    padding-inline: var(--container-padding-horizontal);
  }

  &__actions {
    grid-area: actions;
    justify-self: end;
  }

  &__title {
    grid-area: title;
    margin-bottom: var(--spacing-base);
    container-type: inline-sizing;

    h1 {
      margin: 0;
      font-weight: var(--font-weight-medium);
      font-size: clamp(2rem, 8cqw, 3rem);
      line-height: 1.2;
    }
  }

  &__breadcrumbs {
    grid-area: breadcrumbs;
    mix-blend-mode: var(--blend-mode);
  }

  &__background {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--background-solid);
    opacity: 0.5;

    .blurrable-image__blurred,
    .blurrable-image__image {
      filter: grayscale(100%) contrast(200%);
      mix-blend-mode: var(--header-image-blend-mode);
    }
  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
  align-items: center;

  a {
    color: var(--text-subtle);
    text-decoration: none;

    &:hover {
      color: var(--text-default);
    }
  }

  .icon {
    color: var(--border-element);
  }
}
