:root {
  --header-height: 5rem;
}

.header {
  position: relative;
  display: grid;
  place-items: center;
  height: var(--header-height);
  margin-bottom: -1rem;
  padding-block-end: var(--spacing-base);

  > .container {
    display: grid;
    grid-template: "left center right" auto / 1fr auto 1fr;
    align-items: center;
  }

  &__left {
    grid-area: left;
    justify-self: start;
  }

  &__right {
    display: flex;
    grid-area: right;
    gap: var(--spacing-base);
    align-items: center;
    justify-self: end;
  }

  h1 {
    grid-area: center;
    margin: 0;
    color: var(--neutral-12);
    font-weight: var(--font-weight-medium);
    font-size: 2rem;

    abbr {
      color: var(--magenta);
      font-weight: var(--font-weight-black);
      text-decoration: none;
      text-transform: lowercase;

      b {
        color: var(--neutral-12);
        font-weight: inherit;
      }
    }
  }

  &__waves {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    path {
      fill: var(--pure);
      mix-blend-mode: var(--blend-mode);
    }
  }

  [rel="menu"] {
    g, path {
      transition: transform 0.5s var(--ease-squish-5);
      transform-origin: center;
    }

    &[aria-expanded] {
      g {
        transform: rotate(225deg);
      }

      path {
        &:nth-child(1) {
          transform: translateY(7.25px);
        }

        &:nth-child(2) {
          transform: rotate(90deg);
        }

        &:nth-child(3) {
          transform: translateY(-7.25px) scale(0);
        }
      }
    }
  }
}
