.layout {
  display: grid;
  grid-template: "navigation" auto "main" 1fr "footer" auto / 1fr;
  align-items: start;
  justify-items: stretch;
  min-height: 100vh;

  &__navigation {
    grid-area: navigation;
  }

  &__main {
    display: grid;
    grid-area: main;
    justify-items: stretch;
  }

  &__footer {
    grid-area: footer;
  }
}
